[2017-04-04 02:42] ALRubinger opened #1 "Jenkins pod scheduling takes 2m30s"
[code]

[2017-04-04 11:24] ALRubinger opened #2 "Make Launchpad work with OpenShift Online"
Let's all focus on this as a matter of priority.  This issue can track issues in individual repos needed to accomplish this common goal.

Steps I've taken so far:

[code]

Result on "Deploy to OpenShift" button is an error, with log in the missioncontrol:

[code]

[2017-04-04 11:35] quintesse commented on #2
@ALRubinger aren't `https://tsrv.devshift.net` and `https://console.free-int.openshift.com` different servers?

[2017-04-04 11:40] ALRubinger commented on #2
@quintesse Yes; We'd put Launchpad on devshift and have it execute against the API on the OSO Free Integration Cluster.  Similarly we could even install Launchpad on Minishift locally and have it call out to OSO Free.

[2017-04-04 11:54] ALRubinger opened #3 "Request permissions to push to Maven Central"
Request submitted: https://issues.sonatype.org/browse/OSSRH-30232

[2017-04-04 12:10] quintesse commented on #2
@alr you get the error because the template is made for installation on a local OpenShift/minishift only.
If you look for the following lines:

          - name: LAUNCHPAD_MISSIONCONTROL_OPENSHIFT_API_URL
            value: https://openshift.default.svc.cluster.local

and change the value to `https://console.free-int.openshift.com` things will work.

[2017-04-04 12:14] quintesse commented on #2
Like discussed we could create a second template especially for the non-minishift situation where we would just change that section to:

          - name: LAUNCHPAD_MISSIONCONTROL_OPENSHIFT_API_URL
            value: ${LAUNCHPAD_MISSIONCONTROL_OPENSHIFT_CONSOLE_URL}
          - name: LAUNCHPAD_MISSIONCONTROL_OPENSHIFT_CONSOLE_URL
            value: ${LAUNCHPAD_MISSIONCONTROL_OPENSHIFT_CONSOLE_URL}

[2017-04-04 12:17] quintesse commented on #2
Btw, once running the Jenkins build fails with:

[code]

[2017-04-04 12:43] ALRubinger commented on #2
@tako: RE: the build failing because of Maven, we're tracking that: https://issues.jboss.org/browse/OBST-111 (RHT only, sorry)

[2017-04-04 12:44] ALRubinger commented on #2
@quintesse +1 on creating a second template for the non-Minishift version, so we can keep the Minishift one as trim as possible for users.  A bunch of duplication, but we can keep the two in sync I guess?  WDYT?

[2017-04-04 13:02] jstrachan opened #4 "spring boot apps tend to have tons of DEBUG logging around hibernate validator"
migrated from: https://github.com/openshiftio/launchpad-addon/issues/24

e.g. here's a sample log from spring-boot-tomcat-rest
[code]

in the fabric8 quickstarts we found we needed to add this file
https://github.com/fabric8-quickstarts/spring-boot-webmvc/blob/master/src/main/resources/logback.xml

and this entry:
https://github.com/fabric8-quickstarts/spring-boot-webmvc/blob/master/src/main/resou

[2017-04-04 13:45] ALRubinger commented on #3
Permission granted to me and @cescoffier

[2017-04-04 13:45] #3 closed

[2017-04-04 17:38] quintesse commented on #2
With the new template this should work:

[code]

but it doesn't :/

[2017-04-05 06:50] edewit commented on #2
Definitely something wrong with the sso setup, when I go to `https://console.free-int.openshift.com` I get a `login with keycloak` button and when I logout I get a invalid redirect uri.

[2017-04-05 07:06] edewit commented on #2
easier test to see if it works just put `http://sso.prod-preview.openshift.io/auth/realms/fabric8/broker/github/token` into your browser and get the same message.

[2017-04-05 20:01] ALRubinger commented on #2
Latest I am using:

[code]

[2017-04-05 21:54] gastaldi commented on #2
Blocked by https://issues.jboss.org/browse/OBST-197

[2017-04-07 00:51] ALRubinger opened #5 "Frontend is Borked on Minishift"
To repro:

1) Follow instructions to install Launchpad on Minishift
2) Visit frontend
3) Loading...

Blocker for all doing Minishift development

cc: @starksm64

[2017-04-07 02:28] gastaldi commented on #5
* Go to Applications -> Deployments and choose the launchpad-frontend deployment
* Click the Environment tab
* Remove LAUNCHPAD_KEYCLOAK_URL and LAUNCHPAD_KEYCLOAK_REALM attributes
* Click Save
* Wait
...
* Profit

[2017-04-07 08:57] quintesse commented on #5
It works @ALRubinger, you just need slightly different instructions than before.
As @gastaldi mentions if you want to set things up *without* Keycloak support you now *must* clear those settings in the template form. It's the way the frontend detects it shouldn't try to authenticate.

[2017-04-07 10:07] quintesse commented on #2
I now have 2 setups ways that should work:

Always using this template: https://raw.githubusercontent.com/openshiftio/launchpad-templates/master/openshift/launchpad-template.yaml

### Local Minishift, no Keycloak

1) Your GitHub user
2) Your GitHub token (see https://github.com/openshiftio/launchpad-missioncontrol)
3) API URL: leave default (`https://openshift.default.svc.cluster.local`)
3) Consol

[2017-04-07 11:04] quintesse commented on #5
See here for up-to-date instructions (as of right now): https://github.com/openshiftio/appdev-planning/issues/2#issuecomment-292496920

[2017-04-07 19:42] ALRubinger opened #6 "Update Jenkinsfiles in all Boosters to use node "launchpad-maven""
https://issues.jboss.org/browse/OBST-111
https://github.com/openshiftio/launchpad-missioncontrol/issues/217

We need to use a dependable build environment, one we create and control.  The default "maven" one provisioned by OpenShift will vary depending upon OSO Free, Minishift, etc.  Ours is an explicit ImageStream we can lock down so no matter which OpenShift instance you're using, you get the sa

[2017-04-10 16:28] jstrachan opened #7 "the new failsafe goals added to the vertx quickstarts break all the DevTools pipelines"
its kinda scary quickstarts changing on the fly without any kind of versioning or heads up; makes it really hard to test anything works / doesn't work on DevTools as we just don't know, from hour by hour, whats gonna break.

Upstream in fabric8 we've always been really careful to release versions of quickstarts/wizards so that folks can test out new versions of wizards/quickstarts and if they work

[2017-04-10 17:25] ALRubinger commented on #7
The bigger issue is that the DevTools team needs to be relying upon a release for their dev, not our snapshots.  We cut our first train midweek.

Until then, @cescoffier would you mind addressing the specific issues raised here by @jstrachan ?

[2017-04-10 17:29] ALRubinger commented on #7
@gastaldi To the comments above, please audit and ensure that when we do a release train the DevTools team will be able to rely on a locked version of either catalog or however they consume it so they don't see our snapshot changes between releases.

[2017-04-10 19:39] ALRubinger commented on #7
@jstrachan:
  You're requesting a proper release rather than relying on SHAPSHOTs; totally valid.  We've had planned a regular release train starting midweek, but you're ahead of schedule.  We haven't been prepared for "production support" yet.  Because you've forked some work (the launchpad-backend) I'm still not 100% on which components we're developing are leaking through for you, and which are

[2017-04-10 20:58] gastaldi commented on #7
I just released our launchpad-addon which uses our structure: http://central.maven.org/maven2/io/openshift/launchpad/launchpad-addon/2.0.0.Alpha1/launchpad-addon-2.0.0.Alpha1.

If you are using the furnace-maven-plugin, just remove the old obsidian addon and use this instead:

[code]

Otherwise just update your pom.xml to depend on the new addon:

[code]

Make sure to set the `LAUNCHPAD_BACKEND_CA

[2017-04-10 21:01] gastaldi commented on #7
@jstrachan can you update your backend and confirm that things work as expected?

[2017-04-11 02:16] kenfinnigan commented on #5
This is resolved right?

[2017-04-11 02:19] starksm64 commented on #5
It is if you follow the latest instructions. The main thins that cause problems are not clearing the KEYCLOAK related fields and errors in the Backend URL.

[2017-04-11 06:51] quintesse commented on #5
Should be resolved yes. Closing.

[2017-04-11 06:51] #5 closed

[2017-04-11 07:18] jstrachan commented on #7
@ALRubinger the component which broke is the `obsidian-addon`. As I've said to you many times now, we reuse that, we've not forked it. The only thing we forked is the WF Swarm project that runs forge-service and hosts the forge addons.

@gastaldi trying to upgrade now thanks

[2017-04-11 07:27] jstrachan commented on #7
looks like all the commands have changed so I'll have to change our forge addon, the back end and the fabric8-ui too...

[2017-04-11 08:11] jstrachan commented on #7
@gastaldi any idea what these exceptions mean when I try use this new version:
[code]

[2017-04-11 12:42] jstrachan commented on #7
FWIW I've disabled obsidian for now on devtools as it was blocking all our work on jenkins, pipelines & CD so for now we're using the upstream fabric8 quickstarts until we can figure out how to use obsidian again with our pipelines

[2017-04-11 13:59] gastaldi commented on #7
Talking with @jstrachan atm. Seems like I forgot to specify the `<classifier>forge-addon</classifier>` in the <dependency> tag above

[2017-04-11 14:19] jstrachan commented on #7
plus various other commits relating to version upgrades and command name changes... making progress though

[2017-04-11 14:49] gastaldi commented on #7
@jstrachan Looks like the backend is working now? What else is missing to close this issue?

[2017-04-11 14:53] jstrachan commented on #7
need the new branch to use for the working vertx quickstart; then I can test it out on DevTools. If that works then great, we're sorted - otherwise its probably better if I spin up separate issues

[2017-04-11 15:03] gastaldi commented on #7
@jstrachan I updated the branch to the latest frozen working vertx-http quickstart . Can you give it a spin?

Make sure to use:

   export LAUNCHPAD_BACKEND_CATALOG_GIT_REF=devtools-saas

[2017-04-11 15:05] cmoulliard opened #8 "Boosters Jenkinsfile issuing oc policy add-role-to-user view will fail"
Boosters where the Jenkinsfile issues an "oc policy add-role-to-user view" will fail

[code]
and will report this error

[code]

This problem comes from the fact that when Jenkins creates the job and log to openshift, it will use as user the token of the service account

[code]

A solution to be investigated is :
- Give more rights to the serviceaccount
- Log on using the user

[code]

Even if we

[2017-04-11 15:09] ALRubinger commented on #8
@cmoulliard Who is to be assigned to chase this down?

[2017-04-11 15:10] cmoulliard commented on #8
@ALRubinger Maybe a Fabric8 guy as James Rawling knows the answer.

[2017-04-11 15:18] alesj commented on #8
@luksa or @rawlingsj ^^ can one of you guys have a look at this, as suggest what can be done ...

[2017-04-11 15:25] cmoulliard commented on #8
The solution is to use the `edit` role which is assigned to the role of the jenkins user

[code]

[2017-04-11 15:34] jstrachan commented on #7
@gastaldi OK I've managed to create a vertx booster all via DevTools console - thanks for your help!

I'll see how far the pipelines get & raise separate issues if we hit stuff

[2017-04-11 15:34] #7 closed

[2017-04-11 15:37] jstrachan opened #9 "mvn deploy no longer works in DevTools with `Server credentials with ID "ossrh" not found!`"
do the boosters do something now with staging plugins or explicitly specify distribution properties or something?  This used to work fine but seems to have broken recently...

Will see if we can add some extra property or something to disable/configure this...

Here's the log for the pipeline using Vertx Booster:
[code]

[2017-04-11 15:39] gastaldi commented on #9
Why mvn deploy is used? Shouldn't it be fabric8:deploy instead?

[2017-04-11 15:40] jstrachan commented on #9
`mvn deploy` is used to release the artifacts (jars, poms, kubernetes manifests etc)

[2017-04-11 15:42] jstrachan commented on #9
I wonder if its the introduction of the `nexus-staging-maven-plugin` in the parent pom.xml?

[code]
If so I wonder if we can put it into some optional profile so its not activated OOTB? We don't want to use sonatype staging repo for releases on DevTools; we include a nexus-like thingy

[2017-04-11 15:42] gastaldi commented on #9
That makes sense. I think we should move it under a `release` profile

[2017-04-11 15:42] cescoffier commented on #9
Yes that's our release process. What are you doing in the `deploy` phase ?

[2017-04-11 15:46] luksa commented on #8
Not sure what you're trying to achieve, but:
- do not try logging in with a regular user; serviceaccounts are what's meant to be used by "services" (apps running in pods)
- if the serviceaccount you're using needs elevated permissions, the person deploying the app needs to elevate them using oc policy add-role-to-user (the serviceaccount obviously can't elevate its own permissions).

[2017-04-11 15:47] jstrachan opened #10 "should the generated quickstarts use parent poms at all?"
We went through this journey on fabric8 too; started with a monolith git repo; then had lots of git repos then realised that the easiest to use generated quickstart has no parent pom - as end users will almost certainly wanna add their own parent pom to do things like set the `<distribution>` stuff or whatever.

So removing a parent pom makes it easier for users to take whats generated and use it

[2017-04-11 15:49] jstrachan commented on #9
'mvn deploy' - or to be totally exact: `mvn clean -e -U deploy -Dmaven.test.skip=false -P openshift`

I guess I'm surprised that a generated quickstart has staging repo stuff enabled OOTB?

[2017-04-11 15:51] cescoffier commented on #9
it comes from the parent, without this we can't release the parent to maven central.

Introducing a release profile, would actually introduce another profile in which the "verification build" is issued.

[2017-04-11 15:52] cmoulliard commented on #8
@luksa You are right. I think that this "oc command" is issued at the wrong place within the jenkins file as this role `view` is required by the pod/container starting the vert.x/swarm/spring boot runtime

[2017-04-11 15:53] cescoffier commented on #9
So you bind fabric8:deploy to the deploy phase. While `deploy` has a different semantic in Maven (done in the build environment, copies the final package to the remote repository for sharing with other developers and projects.).

To use it like that we need to redo the parent and release process (and probably give up with the maven central sync)

[2017-04-11 15:56] jstrachan commented on #9
FWIW on fabric8 we release archetypes to maven central; but the archetypes use different `pom.xml` files so we don't have issues of having stuff to release boosters/archetypes causing problems in generated projects.

I wonder if this relates to https://github.com/openshiftio/appdev-planning/issues/10 as to whether or not the generated projects should use parent poms at all? Maybe a workaround is t

[2017-04-11 16:06] pmuir commented on #10
Agreed. This was the approach we took for the JBoss Developer quickstarts. We build the quickstarts as a learning experience, and having a parent POM makes them harder to understand.

The generated approach is great as it removes the overhead for manually maintaining stuff.

[2017-04-11 16:12] pmuir commented on #9
@jstrachan AIUI in this case we do want to run a deploy, as we want to deploy the code to a local content repository for the user as part of the CD pipeline, and having the quickstart's clobber this makes it hard.

I would suggest hat how *we* release the quickstart should not be part of quickstarts code, as the quickstart should be a learning experience for the end user.

[2017-04-11 16:21] gastaldi commented on #10
Not sure I agree that removing the parent pom is the best approach. Inlining would require quite some logic to get it right because ordering matter and it might get worse if a booster overrides one of the configuration. So -1 to that :)

[2017-04-11 16:25] cmoulliard commented on #8
Question : Is it the responsibility of the jenkins pipeline to create the serviceAccount, rolebinding and assign the ServiceAccount to the DeploymentConfig of the pod to be created vs using Fabric8 yaml files to create such objects ?

[2017-04-11 16:25] pmuir commented on #10
@gastaldi yep, it's a tough one, but in the end we felt having a parent really damaged the user's experience as it meant the quickstart basically wasn't a good starting point for them anymore.

Is the parent POM that we're distributing here directly usable for an end user without modification? When would they need to untangle it - how far into their journey?

[2017-04-11 16:28] gastaldi commented on #10
@pmuir I think the best option would be having a BOM, but you can't assign plugin versions to that unfortunately. The parent pom just contains the common dependencies for all the boosters, and by design it should be kept simple

[2017-04-11 16:34] pmuir commented on #10
Yes, a BOM is the best approach, but like you say it won't work for plugins. If you can really keep it to common deps that are relevant to the quickstarts themselves included, then you may make it work, but as we already saw that rule got broken by including the nexus plugins (nothing to do with the quickstarts per se).

Also need to be careful only to put truly common deps in.

[2017-04-11 17:20] rawlingsj commented on #8
@cmoulliard yeah it's the same thing that I mentioned on IRC earlier.  Jenkins needs a serviceaccount and you apply rolebindings, so that jenkins has karma to interact with OpenShift.

Here's the devtools jenkins-openshift image with it's edit rolebinding (needed to create build pods) https://github.com/fabric8io/fabric8-team-components/blob/master/jenkins-openshift/src/main/fabric8/jenkins-edit-r

[2017-04-11 17:46] jstrachan commented on #10
yeah - a BOM then using a CD pipeline to align versions of the BOM + mvn plugins sounds a nice simple solution really. (Such a shame you can't include mvn plugin versions in a BOM!)

Here's a project and Jenkinsfile you can reuse if you wanna go in that direction: https://github.com/fabric8io/fabric8-maven-dependencies/ we have CI / CD infrastructure we can run it on too - give us a shout if you w

[2017-04-11 18:43] ALRubinger opened #11 "Update all Boosters to booster-parent:4"
Addresses #9.

@cescoffier can run coordination, but all Booster owners can create issues/PRs and link here to ensure this is done.

@kenfinnigan @gytis

[2017-04-12 06:10] cescoffier commented on #10
The parent booster does not define much dependency versions, it's mainly about plugin versions.  It also configures the infamous Eclipse M2E plugin to get the import into Eclipse working. This should not be in the booster pom, and IMHO, this should not exist at all.

BOM how they are implemented in Maven cannot handle plugin versions. Notice that bom comes with a set of drawbacks about ordering an

[2017-04-12 06:11] cescoffier commented on #10
If it would be a bom, it would contain a single dependency:

[code]

[2017-04-12 06:34] cescoffier commented on #10
BTW the dependency listed above is a temporary dependency until we switch to Arquillian Cube. So, it would be an empty BOM...

[2017-04-12 08:51] gytis commented on #11
Updated Spring Boot boosters: https://github.com/openshiftio/booster-catalog/pull/26

[2017-04-12 09:42] cmoulliard commented on #8
@rawlingsj What is the benefit to have a RoleRef : jenkins

Our rolebinding is defined to use the `edit` role too

[code]

[2017-04-12 10:43] rawlingsj commented on #8
@cmoulliard yeah as mentioned on IRC the `role-ref: edit` is used https://github.com/fabric8io/fabric8-team-components/blob/master/jenkins-openshift/src/main/fabric8/jenkins-edit-rb.yml#L8-L9

[2017-04-12 10:47] cmoulliard commented on #8
Apparently the problem comes from the fact that :

"The "edit" role does not have permissions to create rolebindings.

If you look at the cluster policies and you search by rolebinding:
 # oc describe clusterpolicy | less
You can find that for example the pipeline_creator provides permissions to create and list rolebindings only. Therefore by adding this role to the SA you will manage to do it:
 #

[2017-04-12 13:37] cmoulliard commented on #8
This scenario is working for me :

https://gist.github.com/cmoulliard/cfb4150a14610aca73eb4345de1755b9

[2017-04-12 16:35] kenfinnigan opened #12 "Don't use Project Name for all things"
Currently the project name captured in the Launchpad UI is used for the project name, Maven artifactId and GH repo name.

In the OpenShift console this results in the booster being named `{projectName}-{projectName}` which is confusing.

Would be good to separately capture at least the artifactId of the generated booster, and maybe a GH repo name as well.

[2017-04-14 23:14] ALRubinger commented on #2
1) Log into https://console.free-int.openshift.com/console/.  It should take you through the Red Hat Developers login flow.  Clear any existing project you have in there.
2) Visit https://launchpad-frontend-launchpad.tsrv.devshift.net/wizard
3) Choose rest-http Mission and vertx Runtime
4) Launch on OpenShift
5) Post your findings here

[2017-04-14 23:15] ALRubinger commented on #2
Reference: https://github.com/openshiftio/launchpad-missioncontrol/issues/232

[2017-04-15 10:03] ALRubinger commented on #2
More reference: https://github.com/openshiftio/launchpad-jenkins-slave-dockerfile

[2017-04-15 10:04] ALRubinger commented on #2
HTTP API Mission working for Vert.x, Swarm, Boot Boosters.  Enough to close this out.

[2017-04-15 10:04] #2 closed

[2017-04-15 20:14] ALRubinger commented on #9
I believe this may be closed by nature of the course of action detailed by #11 ?

[2017-04-15 20:17] ALRubinger commented on #6
@kenfinnigan @gytis @cescoffier Can I have +1s that this has been done for all Jenkinsfiles in the Boosters?  If so we can close. :)

[2017-04-15 20:20] ALRubinger commented on #12
Sounds like we might capture:
* GitHub repository name (required)
* OpenShift project name (required)
* Maven groupId (optional, default "io.openshift.booster")
* Maven artifactId (optional, default booster-$mission-$runtime)
* Maven version (optional, default 1.0.0-SNAPSHOT)
* Java package namespace (optional, default "io.openshift.booster")

[2017-04-16 12:10] ALRubinger opened #13 "Enable user tracking"
Container issue to chart where tracking should be enabled:

* appdev-documentation (JS)
* launchpad-frontend (JS)
* launchpad-missioncontrol (server-sent events)
* launchpad-backend (server-sent events)

[2017-04-16 12:13] ALRubinger commented on #13
JavaScript includes:
[code]

[2017-04-16 12:15] ALRubinger commented on #13
openshiftio/appdev-documentation#88

[2017-04-17 16:11] kenfinnigan commented on #6
+1 from WF Swarm

[2017-04-18 07:40] gytis commented on #6
+1 for the Spring Boot (HTTP and CRUD)

[2017-04-18 16:03] cescoffier commented on #6
+1 for vert.x

[2017-04-18 20:17] ALRubinger commented on #11
+1s that this is done for all Boosters under Swarm and Vert.x?  @cescoffier @kenfinnigan

[2017-04-18 20:18] kenfinnigan commented on #11
+1, done

[2017-04-19 13:13] cescoffier commented on #11
+1 done

[2017-04-20 12:40] #9 closed

[2017-04-21 05:16] gastaldi commented on #12
Except the Java package namespace, which was removed from the addon (for now) all these fields are now available

[2017-04-21 05:55] #12 closed

[2017-04-21 13:46] #6 closed

[2017-04-22 21:31] ALRubinger opened #14 "Update all Booster's READMEs to point to appdev.openshift.io"
Docs is now available:

  http://appdev.openshift.io

For any instances where we have outdated content in booster READMEs, or READMEs pointing to the now-retired http://openshiftio-appdev-docs-appdev-documentation.tsrv.devshift.net, use the production link.

In the future we'll likely move to a system whereby new docs changes get built and trigger PRs into the appropriate Booster READMEs (as discu

[2017-04-23 00:12] #11 closed

[2017-04-23 00:15] ALRubinger commented on #13
Current status: waiting on Woopra account integration from Jake Lucky for shared backend.  Could also hook in a relational set for analysis on Postgres/AWS or similar.  Finally, need to account for a mechanism to split the dev-stage/prod environments.  Through env var is easy enough for missioncontrol, but how to split the token for frontend and docs sites?

[2017-04-23 04:02] gastaldi commented on #13
Put in an env var and we can replace it in the settings.json (using sed) in
the docker image

Em 22 de abr de 2017 9:15 PM, "Andrew Lee Rubinger" <
notifications@github.com> escreveu:

[2017-04-23 04:02] gastaldi commented on #13
That would be for frontend, not sure about docs

Em 23 de abr de 2017 1:02 AM, "George Gastaldi" <ggastald@redhat.com>
escreveu:

[2017-04-24 08:01] gytis commented on #14
Spring Boot done.

[2017-04-24 16:55] starksm64 commented on #14
@gytis there is an outstanding PR to add more information about how the spring-boot-http-secured-booster should be checked out using the --recursive option:
https://github.com/snowdrop/spring-boot-http-secured-booster/pull/13

This is now in conflict with your change, so could you try to merge it in?

[2017-04-24 17:00] starksm64 commented on #14
There are pull requests for the vert.x and wildflyswarm secured rest boosters.

[2017-04-24 18:49] rhoads-zach opened #15 "Ultrahook setup failing"
When configuring ultrahook as per these instructions:
http://appdev.openshift.io/getting-started.html#_optional_trigger_builds_automatically_with_ultrahook

I get the following error on first update commit:
[code]

On restart, and subsequent commits, it appears the pushes happen:
[code]

but no builds are triggered

[2017-04-24 18:50] rhoads-zach commented on #15
@ALRubinger @gytis FYI

[2017-04-25 06:54] gytis commented on #14
@starksm64 sorry I must have missed your PR. It's merged now.

[2017-04-25 11:43] gytis commented on #4
All boosters now have file like [this](https://github.com/snowdrop/spring-boot-http-booster/blob/master/src/test/resources/logback-test.xml). After adding it I don't see the log messages.

[2017-04-25 11:43] #4 closed

[2017-04-25 12:38] quintesse commented on #15
Haven't been able to reproduce this yet, it seems to work fine here:

[code]

The only difference I see is that I don't use the `-k` flag for ultrahook (I don't think it's necessary?)

[2017-04-25 15:26] SlavoKrupa commented on #14
Vert.x Readmes are updated as well.

[2017-04-25 15:34] rhoads-zach commented on #15
i've omitted the -k KEY aspect and am still getting the same error.

When i try to post directly using a REST testing app, i'm getting a "certificate invalid" error. I'll see if i can do something about importing the certificate on macOS.

[2017-04-25 17:09] rhoads-zach commented on #15
I've tried "always trusting" the cert, but its still failing.

[2017-04-25 18:16] rhoads-zach opened #16 "Launchpad on Minishift not loading on macOS with Safari"
When running launchpad on minishift (using either virtual box or xhyve) on macOS, I cannot use safari to load the launchpad. It prompts to accept 2 certificates, which i accept, and then goes to the error page:
<img width="823" alt="screen shot 2017-04-25 at 1 12 23 pm" src="https://cloud.githubusercontent.com/assets/208104/25400803/561db268-29b9-11e7-9bb5-07bd53702d2f.png">

Running curl gives th

[2017-04-25 18:16] rhoads-zach commented on #16
@ALRubinger @gastaldi

[2017-04-25 18:18] rhoads-zach commented on #16
this does work if i use another browser, but still fails when trying to use ultrahook re #15

[2017-04-25 19:25] gastaldi opened #17 "Apply Look and Feel in the Keycloak Identity page"
https://sso.openshift.io/auth/realms/osio-launch-prod/account/identity should be available in the frontend and should have the same Look and Feel as launch.openshift.io

[2017-04-25 19:29] gastaldi commented on #17
Ideally we should have something like https://developers.redhat.com/auth/realms/rhd/account/identity

[2017-04-26 13:45] Ladicek opened #18 "Jenkins says "Agent to master security subsystem is currently off""
I successfully deploy a booster of my selection to an OpenShift instance, and then go look at how the Jenkins pipeline progresses. The top bar in the Jenkins UI shows 1 warning: `Agent to master security subsystem is currently off`. As a user, this worries me a bit -- is my security compromised somehow?

Not on Minishift, obviously. But will this happen in prod as well?

(I did read https://wiki.j

[2017-04-26 15:52] Ladicek opened #19 "ordering of missions in the Launchpad"
When I get to select which mission I want in the Launchpad, I'm presented with an alphabetically sorted list of mission names. That order is as good as random. IMHO, the missions should be ordered from most simple to most complex. Right now, that roughly corresponds to the ID ordering, but that will likely change over time.

[2017-04-26 19:43] ALRubinger opened #20 "http redirect to https"
launch.openshift.io should not support HTTP

Need to figure out how to enable this in OpenShift; currently we have no http routes for the frontend yet it still responds.

[2017-04-26 20:59] rhoads-zach opened #21 "Improve warning about enabling launch.openshift.io access to GH and OSO"
It wasn't overly clear that I had to take an extra step when following the link. I just ensure that my account was shown.  I can see how users will overlook this.

[2017-04-26 21:44] gastaldi commented on #20
I think I found a solution, let me test locally before pushing

[2017-04-26 21:47] gastaldi commented on #20
Fixed in https://github.com/openshiftio/launchpad-frontend/commit/a88620f5fbb224388472a8dfca33b416385e772f

[2017-04-26 22:05] gastaldi commented on #20
That doesn't work as it should, the liveness probe doesn't perform correctly. Reopening

[2017-04-26 22:30] gastaldi commented on #20
Fixed in https://github.com/openshiftio/launchpad-templates/commit/e0a4d37be63973578f46f281473fc82f8bb1276f

[2017-04-26 22:30] #20 closed

[2017-04-26 22:38] ALRubinger opened #22 "Add validation that user hasn't already met OSO project quota"
Check to see if a project exists.  If one does, we currently get error on launch:

[code]

[2017-04-26 22:39] ALRubinger opened #23 "Add validation that the named GitHub repo doesn't already exist in the user's namespace"
Error prevention.

[2017-04-26 22:43] gastaldi commented on #22
We need to check if the existing Openshift Client API provides information about Quotas. This then could be used for validation

[2017-04-26 22:46] gastaldi commented on #23
What do you mean? We already check if the github repository name doesn't already exist.

[2017-04-26 22:52] gastaldi commented on #22
Also that will require changes in MissionControl. Is that needed pre-summit?

[2017-04-26 22:53] ALRubinger opened #24 "Create landing page: appdev.openshift.io"
*Priority by end of week.*

Same branding/layout as we have currently on the staging site, single page, and a place for us to put "coming soon" content.

Basically everything here:

![screenshot15](https://cloud.githubusercontent.com/assets/199891/25460394/3d6170c2-2ab1-11e7-8ea0-290c17cf163e.png)

...except:

* Sign in
* Text under "currently supported runtimes"

Only need the index.html and asse

[2017-04-27 09:36] SlavoKrupa commented on #21
Also if user skip this step they are stuck on  "Waiting" when deploying to OpenShift  (no error/warning...)

[2017-04-27 09:39] Ladicek commented on #21
There could possibly be an automated validation in the Wizard for this, no>?

[2017-04-27 09:59] liborfuka commented on #21
+1
See also https://issues.jboss.org/browse/OBST-232

[2017-04-27 18:24] rhoads-zach commented on #16
FYI @ALRubinger @gastaldi added a warning here until this is resolved:
https://github.com/openshiftio/appdev-documentation/pull/208

[2017-04-28 14:56] rhoads-zach commented on #16
Once this is resolved, this warning needs to be updated:

https://github.com/openshiftio/appdev-planning/issues/16

[2017-04-28 21:32] ALRubinger opened #25 "Warning on Deployment Type page needs to be environment-aware"
![screenshot10](https://cloud.githubusercontent.com/assets/199891/25548037/88e76c6c-2c38-11e7-8752-f96f37d87295.png)

At the moment we always show a warning to associate federated identities to osio-launch-prod; this should be stage in the stage environment and not shown at all in Minishift environments where SSO realms are not being used at all.

[2017-04-28 21:33] ALRubinger opened #26 "Do not require user to set federated identity"
We should automate the flow, if possible, such that when a user logs in, we redirect them automatically through the flow to associate federated identities for OSO and GitHub

[2017-04-28 21:34] ALRubinger commented on #25
Not required and can be removed entirely if we fix #26

[2017-04-29 03:36] ALRubinger opened #27 "Detect that a user does not have federated identities set for GH and OSO and block Launch if so"

[2017-04-29 03:37] ALRubinger commented on #27
Let's talk about when this is shown to the user and how we handle the UX for it.

[2017-04-29 18:59] ALRubinger commented on #24
Remaining: appdev-documentation#216

[2017-05-02 08:12] edewit commented on #17
where is the source of https://sso.openshift.io/auth/realms/launchpad/account/identity so that we can fix this?

[2017-05-03 17:17] ALRubinger opened #28 "Investigate upgrading to Minishift 1.0.0"
...and supply the team with feedback if we encounter issues.

[2017-05-03 17:28] ALRubinger opened #29 "Error in syncing pod on first install of launch.openshift.io on Minishift/CDK"
`Error syncing pod, skipping: failed to "StartContainer" for "launchpad-frontend" with ImagePullBackOff: "Back-off pulling image \"openshiftio/launchpad-frontend:v4\""`

I typically see this when the user installs the template and the pod does not start in the allotted 600s (10m) time.  Usually because the first start attempt includes download time for the images, and if you're on a slower connect

[2017-05-03 19:05] rdruss commented on #29
Option 4 is interesting as it would just be ready after installation, but it comes with any baggage of the installation process.

What about options 0 - as you mention in your email, document this known issue for now so the user at least understands what is happening.  However, if you're on a slow enough connection will this ever work as I assume each restart starts from the beginning.  In this ca

[2017-05-04 06:42] Ladicek commented on #29
We already kinda sorta mention this in the documentation:

Obviously, we could do a better job there.

In general, I think OpenShift does a fairly good job with error messages. That is, once I see them -- sometimes, the only way to get to the error message is through the _Monitoring_ tab of the OpenShift console.

In case of this error message, my instinct would be to pull the Docker image manuall

[2017-05-13 08:42] jstrachan opened #30 "can openshift.io get a new version that works for spring boot apps?"
we're using the git ref of `devtools-saas` for `LAUNCHPAD_BACKEND_CATALOG_GIT_REF` which is fine for vertx but the spring apps don't build (parent pom issues, deployment issues etc).

Any chance of a new release that works & doesn't use parent poms or hit deployment problems?

[2017-05-17 16:54] ALRubinger opened #31 "Feature: Start from blank template"
User selects dependencies and gets a blank template.

IMO, this is really the Health Check Booster but positioned as the lowest common denominator "manual" flow, not as a Mission, and a blank starting point for the user to add/select dependencies on their own.

Everything we recommend to get started with a runtime, no extra code.

Every line in these templates would be something documentable, and

[2017-05-19 18:50] ALRubinger opened #32 "Handle memory for Java processes in a container better"
At the moment our Jenkins Slave image is setting a global env var to set `-Xmx=128m`; this keeps the JVM from overallocating memory as reported available from the host but not to the container.  It would be more efficient to have the JRE manage memory for us respecting container limits.

Blog post explaining some fundamentals:

https://developers.redhat.com/blog/2017/04/04/openjdk-and-containers/

[2017-05-22 12:59] jstrachan commented on #30
@gastaldi any chance of a newer version please?

[2017-05-22 13:52] gastaldi commented on #30
@jstrachan can you give it a shot with the "next" branch? That contains the released booster versions (not using master)

[2017-05-22 15:49] jstrachan commented on #30
@gastaldi thanks the `next` branch worked a treat for the spring boot http booster!

though we've still an issue with the vertx tests failing if you edit the code https://github.com/openshiftio-vertx-boosters/vertx-http-booster/issues/2

[2017-05-22 15:49] #30 closed

[2017-05-23 05:20] gastaldi commented on #30
@jstrachan do you guys still need the `devtools-saas` branch? Otherwise I'll remove it

[2017-05-26 01:20] jorgemoralespou commented on #16
There's a known issue in origin/openshift UI with safari and self signed certs.

https://github.com/openshift/origin/issues/13506

[2017-05-26 01:22] jorgemoralespou commented on #1
Probably it's pulling down the image for the slave pod.

[2017-06-01 19:32] ALRubinger commented on #23
![screenshot17](https://cloud.githubusercontent.com/assets/199891/26697313/81db3bc6-46df-11e7-828f-ede4c46bc6a8.png)
Great, thanks.

[2017-06-01 19:32] #23 closed

[2017-06-01 19:36] ALRubinger opened #33 "Be environment-aware"
We need to better report to the user the environment they're in, be it CDK, MiniShift, OSO.

[2017-06-01 19:37] ALRubinger commented on #33
Probably some ENV VAR in the template could take care of this for us

[2017-06-01 19:44] gastaldi commented on #33
Wonder if there is already a env var set in the Minishift process that we can use?

[2017-06-02 07:07] gbraad commented on #33
I believe this should be Minishift/CDK, or OSO. But can you explain the reasoning behind this?

[2017-06-02 07:10] LalatenduMohanty commented on #33
For local setups , running `minishift version` should tell you whether it is just minishift or Minishift in CDK

[2017-06-02 07:15] gastaldi commented on #33
Now that I read it again and if I understood correctly, I think this relates to the target Openshift instance that the generated app is supposed to be deployed, so I believe the solution is to have a plain ENV var declared in our in our app with this information, as I don't believe we'll have this information from the OpenShift REST API.

[2017-06-05 15:12] ALRubinger opened #34 "Support top-level package naming for Java-based projects"
RHT Internal Reference: https://issues.jboss.org/projects/OBST/issues/OBST-278

[2017-06-05 15:21] ALRubinger opened #35 "Support Fabric8 Jenkinsfile Library"
Reusable pipeline library located at:

  https://github.com/fabric8io/jenkins-pipeline-library

RHT Internal Ref: https://issues.jboss.org/projects/OBST/issues/OBST-275

[2017-06-05 15:23] gastaldi commented on #28
Works on Minishift 1.0.1

[2017-06-05 15:25] ALRubinger opened #36 "Use productized Java S2I image"
Move off the community versions provided by the Fabric8 community (and by default in the fabric8-maven-plugin) to use the image provided by Cloud Enablement.

[2017-06-05 17:21] gastaldi commented on #34
The top level package name field was removed some time ago. Should we mark this and JIRA as Out of Date?

[2017-06-05 18:45] ALRubinger opened #37 "Move launch.openshift.io hosting to DevTools OSD"
Upstream tracking ticket for moving our infrastructure.

RHT Internal Reference: https://issues.jboss.org/projects/OBST/issues/OBST-264

[2017-06-06 16:11] gastaldi commented on #28
Works with Minishift v1.1.0

[2017-06-07 08:07] SlavoKrupa commented on #36
We can set it up in booster parent pom file just by adding property:
`fabric8.generator.from`, which should point to productized docker image.
Then we would need to:
* release new version of booster parent file
* update all booster with new parent version

[2017-06-15 17:18] gastaldi commented on #37
According to @vpavlin, these are the things we need to do:

* Get the prod configmaps, secrets and routes to saas-crypt repo we manage
* Create projects in rh-idev and dsaas
* Start deploying to the project in rh-idev from CI
* Create configuration for openshiftio/saas for the "promote to prod" step
* Configure the promote job to be able to deploy to the dsaas project

[2017-06-19 14:37] ALRubinger opened #38 "Show environment-aware and Booster-aware docs in the launcher"
At the moment we ask the user to choose steps like, "Go continue select the runtime guide" and then present options for Swarm, Vert.x, Boot.  However we know what the user has just launched, so we can surface the correct links or embed directly.  Let's discuss how we get this context properly surfaced.

[2017-06-19 14:38] gastaldi commented on #38
Related to https://github.com/openshiftio/appdev-planning/issues/33

[2017-06-20 17:30] gastaldi commented on #37
@vpavlin @kbsingh what do we need to do to get this started?

[2017-06-20 17:34] kbsingh commented on #37
I believe this is underway already

[2017-06-20 18:52] gastaldi commented on #37
Thank you @kbsingh. Are you the one working on this?

[2017-06-22 16:23] gastaldi commented on #37
Can someone provide me an update of this ongoing activity?

[2017-06-22 16:43] kbsingh commented on #37
@gastaldi we have this in our present sprint to help you guys over the process. @vpavlin is the one running the work itself and will update the thread once he has something tangiable. There is a fair bit of moving around that needs to happen in the infra and the infra pipelines before we can slot you in. Most of the time's been spent on that so far. I'll let @vpavlin drop in details once its there

[2017-06-22 16:48] gastaldi commented on #37
Thanks @kbsingh and @vpavlin.

[2017-06-22 17:03] vpavlin commented on #37
Sorry guys, I completely missed the thread. I am reworking structure of our prod deployment tracking repository at the moment to make it easier to add you to the mix. I hope to have it ready tomorrow, so that we can start moving with other bits.

[2017-06-23 13:52] vpavlin commented on #37
@gastaldi Can you give me list of repos containing templates we need to run? And also share any prod/stage secrets/configMaps we need to import to prod/stage clusters (I guess at least secrets should be shared privately:) )?

* Projects in OpenShifts should be created later today
* Once I get secrets and configMaps, I'll push them there
  * We will also need to create routes
* I need to update job

[2017-06-23 14:50] gastaldi commented on #37
@vpavlin this is the template we use right now: https://github.com/openshiftio/launchpad-templates/blob/master/openshift/launchpad-template.yaml

About the secrets, I'll send you an email instead

[2017-06-23 15:04] vpavlin commented on #37
Hmm.. I am afraid our current process will not handle this common template:(. We work on "one template per repo" basis - I've just submitted issues to your 3 repos describing change needed in the templates so that we are able to track the version deployed to prod.

Our current "promote-to-prod" workflow is tied to git commit hashes for versioning - hence the "one template one repo" scheme.

There

[2017-06-23 15:09] gastaldi commented on #37
I am fine with #2. I'll review the existing templates and let you know

[2017-06-23 15:18] ALRubinger commented on #17
Closing; we'll use the same realm as OSIO soon

[2017-06-23 15:18] #17 closed

[2017-06-23 15:19] ALRubinger commented on #13
Issue for frontend to take env var: https://github.com/openshiftio/launchpad-frontend/issues/130
Also needed for appdev.openshift.io

[2017-06-23 16:12] gastaldi commented on #37
As expected. the separate templates are outdated and won't work with our current codebase.
We need to update the separate templates, which may not be the most enjoyable thing to do :)

[2017-06-23 16:18] quintesse commented on #37
That's not going to be trivial. The combined template is not a simple copy & paste of 3 files together. Maintaining them synced is going to be a manual job that's just asking for mistakes.

[2017-06-23 16:26] vpavlin commented on #37
Where do you see issues?

[2017-06-23 16:39] quintesse commented on #37
@vpavlin in maintaining them synced. For example this is a WiP PR for the combined template: https://github.com/jorgemoralespou/launchpad-templates/commit/1ca6840547eafeb22158300f908008884bc4fe7e . Now imagine having to re-apply that to those 3 other templates again. That will be a manual process because it's not just a simple copy & paste. This will be error-prone meaning that we'll need to test

[2017-06-23 17:30] jorgemoralespou commented on #37
@vpavlin Are you saying that to deploy launchpad, you need 3 templates, one for backend, on for the frontend and on for Mission Control?

[2017-06-23 17:37] gastaldi commented on #37
Given the current situation I'd like to say that I agree with @jorgemoralespou and @quintesse that option 1 would be more interesting.

I'd be more than happy to help you with the necessary steps to make that happen.

[2017-06-23 18:48] vpavlin commented on #37
I understand your PoV. But there are couple issues with option 1

* I am gone for next 2 weeks, so anything that needs change will *probably* have to wait
* We don't use image streams - reason is that as we don't build in OpenShift, we would have to do 2 steps instead of 1 wrt getting an update there - inform OpenShift about new image + upload new template. We use commit hash as the image tag, so

[2017-06-23 19:09] quintesse commented on #37
That's in that change too.

Which is in that change too... unfortunately? But that's what we get told is a better way of doing things: https://github.com/openshiftio/launchpad-templates/issues/15

So it looks more and more that any separate templates could possibly be very different from the combined template. Not really a situation we want to be in IMO.

If forced to use separate templates I woul

[2017-06-23 22:25] rdruss commented on #31
I don't think this completely captures the need.  How are needed dependencies chosen (e.g. for Swarm you would like to have MDB and CDI support or for Vert.x how are the modules to be included selected)?

[2017-06-26 15:31] jorgemoralespou commented on #37
@vpavlin Let me address what respects to OpenShift. Of course, not going to argue about your tooling.

The template @gastaldi and @quintesse shared has some:
- Reordering to made reading easier
- [ConfigMaps](https://github.com/jorgemoralespou/launchpad-templates/blob/master/openshift/launchpad-template.yaml#L95-L114) to centralize configuration
- [ImageStreams](https://github.com/jorgemoralespou/

[2017-06-26 16:25] kbsingh commented on #37
@jorgemoralespou how do imagestreams work for images hosted in different repos ?

[2017-06-26 17:18] jorgemoralespou commented on #37
@kbsingh you can:

Have an imagestream follow an specific image and repo. That's what by default "oc import-image" will do.

You can have every tag track a different repo, as in the ImageStream's tag definition, you can point a DockerImage, and specify a different docker URL.

When you manage images coming from different sources, this management is not automatic. But definitely it's easier to mana

[2017-06-30 18:04] rdruss commented on #31
@cmoulliard has another interesting point:

"Generating a project/runtime should be as simple as issuing one request or selecting the fields on start.spring.io

if now, we should use LOSIO or OSIO, then the user must be first authenticated, must have access to openshift (free, paid) before to select the runtime in order to generate a project.

Is it this longer workflow that we want to ... instead

[2017-07-03 16:45] cmoulliard commented on #31
A good compromise could be, without the need to add another workflow to what we have on "launch.openshift.io", to provide a blank template as new mission [1] and when the user chooses it then the next screen will help him/her to select the dependencies/modules that forge will use to populate the final pom file for the zip or git project. What do you think about this idea ? If we do that, we could

[2017-07-03 17:14] vpavlin commented on #37
Originally, we used `:latest` tag in our deployments (which is a terrible practice, I know:) ) with `oc deploy --latest` and potentially `oc apply -f ...`, which brought couple issues, where one them was the chicken-egg problem where we needed to update the image and template at the same time.

Our solution was to use specific tags with commit hashes and just doing `oc apply -f ...`. We've thought

[2017-07-03 18:43] rdruss commented on #31
@gastaldi, do we still have the original screens from Alpha2 that allowed you to select dependencies?  I don't recall exactly how that screen go populated as well, was it a static yaml file?

[2017-07-03 18:50] gastaldi commented on #31
@rdruss that was provided by the Forge addons. We had a dependency on the WFSwarm, vertx and Boot addons which would render that dependency selection screen.

[2017-07-04 08:37] cmoulliard commented on #31
So we could without too much effort reuse previous code and propose a blank mission containing for Spring Boot

[code]
where index.html

[code]
![screenshot 2017-07-04 10 31 11](https://user-images.githubusercontent.com/463790/27821857-ff1d105e-60a3-11e7-9fcd-a436b7aa4299.png)

 `go` button will open a new tab containing the Spring Boot missions

REMARK:
- We could also based on the module/depende

[2017-07-04 12:04] jorgemoralespou commented on #37
Proper versioning include version schemas for every artifacts including various tags, e.g:

Version 1.2.3, can be tagged as: v1.2, v1.2.3, v1.2.3.xyz, latest

So you can use any of the tags in the templates or in the imagestreams, they do not need to be complete.

If you look into how JBoss MdW products release, they have and Imagestream that they distribute, with major releases and latest, and ca

[2017-07-12 18:41] gastaldi opened #39 "Support OSO Pro (Paid version)"
With OSO Pro now out, we need to:

- Work with the DevTools group (@alexeykazakov) to set up a federated identity to this cluster in our shared OSIO security realm
- Add support to launch.openshift.io to choose where to target (OSO Starter or OSO Pro)

[2017-07-14 21:57] gastaldi opened #40 "Add Node.js as a new supported runtime"
Node.js should be supported in launch.openshift.io based on the work done by Lucas Holmquist.

[2017-07-19 20:35] ALRubinger opened #41 "Allow user selection of community or product runtimes"
RHT Internal: https://issues.jboss.org/projects/OBST/issues/OBST-301

[2017-07-19 20:37] ALRubinger opened #42 "Move to OSIO security realm"

[2017-07-19 20:45] ALRubinger opened #43 "Testing Strategy: Boosters to use ARQ Cube"

[2017-07-19 20:48] gastaldi commented on #27
Yes, if we're using the same Keycloak, that makes sense. Closing

[2017-07-19 20:48] #27 closed

[2017-07-19 20:49] ALRubinger opened #44 "Automated Booster Release / Integration Process"
Request from the OSIO team.

Allow for automated process by which Boosters, upon release, may be independently tested and integrated into the LOSIO and OSIO systems.

[2017-07-19 22:31] gastaldi commented on #13
I think this task is already completed? WDYT @quintesse ?

[2017-07-19 22:37] quintesse commented on #13
Sure, I think we should close this.

[2017-07-20 17:33] rhoads-zach commented on #41
@ALRubinger please tag me as more details emerge on this. We'll need to account for this in the docs in at least two ways:

1. UI changes to LOSIO and instructions for using it
2. Runtime descriptions and distinction between community and product runtimes.

FYI @inoxx03 @tradej @lavernw1

[2017-07-20 17:42] rhoads-zach commented on #39
@ALRubinger please tag me as details emerge on this. Docs will need to be updated. Minimum changes i see so far:

* Update warning messages for certain boosters (e.g. SSO) related to running on OSO
* Provide links and/or callouts to OSO Pro details

FYI @inoxx03 @tradej @lavernw1

[2017-07-20 17:43] ALRubinger commented on #39
Sure, @gastaldi can coordinate with ya

[2017-07-20 17:45] rhoads-zach commented on #42
@ALRubinger please tag me as details emerge on this. We'll need to update the docs for this. Changes i can see so far:

* Update details and instructions for users authenticating to OSIO

FYI @inoxx03 @tradej @lavernw1

[2017-07-20 17:47] rhoads-zach commented on #43
@ALRubinger please let us know as you incorporate ARQ Cube into testing. We can consider adding an enhancement issue to docs to explain ARQ Cube and link to more details.

FYI @inoxx03 @tradej @lavernw1

[2017-07-20 17:49] rhoads-zach commented on #35
Linking this issue so doc updates are made based on changes made from this issue:
https://github.com/openshiftio/appdev-documentation/issues/283

[2017-07-20 17:52] rhoads-zach commented on #44
@inoxx03 @tradej @lavernw1

I'd like to see us add some automation/testing to the docs repo as well. Testing portion is tracked here:
https://github.com/openshiftio/appdev-documentation/issues/297

[2017-07-21 15:14] ALRubinger opened #45 "Move to fabric8-launch"
LOSIO components move to an organization under the Fabric8 community

[2017-07-21 15:18] quintesse commented on #41
https://github.com/openshiftio/launchpad-frontend/issues/146
https://github.com/openshiftio/launchpad-addon/issues/34
https://github.com/openshiftio/launchpad-backend/issues/58

[2017-07-21 18:01] gastaldi commented on #39
Just had a chat with @alexeykazakov in BlueJeans. Here is the action plan:

- [ ] Add a new Identity Provider in our osio-launch-prod realm and test it  - George
- [ ]  Change the UI to allow the user to choose which OSIO instance to use  - George
- [ ] If things work out, then sync with Alexey to have the changes in our osio-launch-prod realm merged in the fabric8 realm (so we can deploy on us-ea

[2017-07-21 18:02] gastaldi commented on #39
Who can I bother to create a Client ID and Client Secret in the Openshift Pro cluster? I need an account in there too for testing purposes

[2017-07-24 07:09] Ladicek commented on #43
CC @RadekKoubsky

[2017-07-24 09:09] Ladicek commented on #43
CC @spisiakm

[2017-07-24 09:50] Ladicek commented on #43
Open issues:

- https://github.com/arquillian/arquillian-cube/issues/633
- https://github.com/arquillian/arquillian-cube/issues/635
- https://github.com/arquillian/arquillian-cube/issues/636
- https://github.com/arquillian/arquillian-cube/issues/743

[2017-07-24 17:52] rhoads-zach opened #46 "Refactor READMEs for to be more readable as source"
Change substitution in README templates to happen before repo is cloned.

FYI @gastaldi

[2017-07-24 17:53] rhoads-zach commented on #46
Docs issue: https://github.com/openshiftio/appdev-documentation/issues/379

[2017-07-24 20:45] gastaldi commented on #46
Merged in https://github.com/openshiftio/launchpad-addon/issues/36. Closing

[2017-07-24 20:45] #46 closed

[2017-07-28 12:35] spisiakm commented on #43
Example implementations of ITs using Arquillian Cube can be found here:
- https://github.com/RadekKoubsky/rest_springboot-tomcat/tree/arquillian-cube-integration-test-openshift/src/test for spring-boot-http-booster
- https://github.com/spisiakm/vertx-http-booster/tree/arquillian-test/src/test for vertx-http-booster

(Note: these implementations are still WIP)

You can successfully run these tests

[2017-07-31 14:14] gastaldi commented on #22
![screenshot from 2017-07-31 11-13-38](https://user-images.githubusercontent.com/54133/28781725-679892a0-75e1-11e7-8717-c2ed839aa17e.png)

[2017-07-31 14:38] ALRubinger commented on #37
Status:

* Reroute DNS for launch.openshift.io and launch-stage.openshift.io
* New services running at: https://launch.prod-preview.openshift.io/
* Support appdev(-stage).openshift.io

[2017-07-31 14:47] ALRubinger commented on #13
Reopening only until we can note in docs how to enable all this great work.  @rhoads-zach

[2017-07-31 14:48] rhoads-zach commented on #13
@quintesse let me know how i can help getting this into the docs.

[2017-07-31 16:36] jstrachan opened #47 "BoosterCatalog no longer usable on premise or in minishift"
seems something has happened in github lately so we can no longer initialise the booster forge addon. It takes forever to clone + index (see the log below).

We really need the BoosterCatalog created on disk in our docker image really so it just starts up immediately and doesn't spend many minutes cloning git + indexing things.

Here's the log - its taking over 4.5 minutes to index the catalog on

[2017-07-31 18:09] gastaldi commented on #47
Peobably because of GitHub instabilities?https://status.github.com/messages

We're considering refactoring our booster-catalog-service to include the booster sources during build time, not runtime

[2017-07-31 18:51] jstrachan commented on #47
this has been failing on and off for a week or so unfortunately. Including stuff at build time would be great!

[2017-07-31 18:57] jstrachan commented on #47
@gastaldi any ideas how soon there might be a fix?

Only we kinda need to merge the BoosterCatalog with our upstream quickstarts for upstream anyways; so its pretty tempting to just convert the booster catalog into a regular archetype catalog + populate the local maven repo with both the booster catalog source + our current upstream quickstarts then we're no longer dependent on the flaky github ba

[2017-07-31 19:10] gastaldi commented on #47
I am not sure if using maven archetypes would be a good solution here. Need to check with the team on what would be an acceptable solution. But we definitely need to move away from the git cloning process while indexing, since we cannot rely on Github's availability.

I'll work on this this week and (hopefully) will have a solution before Friday.

[2017-07-31 19:15] jstrachan commented on #47
Awesome many thanks!

[2017-08-01 03:44] gastaldi commented on #47
Apparently the solution came early than expected: https://github.com/openshiftio/booster-catalog-service/pull/4

Reviewing with the team now

[2017-08-02 06:25] Ladicek commented on #36
I assume we want to do this unconditionally, even for boosters with community runtimes, right? I don't see a problem with that, but I can see why some would prefer to stay with Fabric8 Java S2I images with community runtimes and only use Red Hat productized Java S2I image with productized runtimes.

[2017-08-02 15:13] #40 closed

[2017-08-02 17:13] rdruss commented on #43
Ok, is there an interim plan on how testing will be done until the ARQ Cube issues are resolved?  I see 2 distinct cases:

- What is done in the test suite for evaluate release quality
- What is done in boosters to demonstrate to users how they should be testing

[2017-08-02 17:19] Ladicek commented on #43
Well the interim plan is `OpenShiftTestAssistant` and the tests in ithe boosters, for both items. For the 1st, we'll obviously be doing license checks.

[2017-08-02 20:25] ALRubinger commented on #36
RHT only: https://issues.jboss.org/projects/OBST/issues/OBST-87

[2017-08-02 20:26] ALRubinger commented on #36
Yes, regardless of the runtime version, we'll use productized Java S2I.

Until we get a use case for why someone would need to use an alternate S2I base, let's just switch to the product one.

[2017-08-02 21:06] rdruss commented on #43
This sounds reasonable to me.  The decision is to continue using OpenShiftTestAssistant (OTA) for both scenarios listed until ARQ Cube has sufficiently addressed the issues.  The evaluation function for determining whether we're ready to switch is to Martin's example test listed above.

[2017-08-02 21:15] gastaldi commented on #39
Based on @quintesse 's suggestion, we'll add a `OPENSHIFT_CONFIG_FILE` env var containing a file in a JSON or YAML format containing the supported Openshift configurations (API and Console URLs)

[2017-08-03 06:31] gastaldi commented on #47
Just had an idea: we could publish the whole booster-catalog content as a Docker image and (somehow) map as a Volume in the template. Then we could just specify the path where the contents are and boom! No Github anymore :)

WDYT?

[2017-08-03 06:35] ALRubinger commented on #47
How does that jive with Strachan's request to be able to update Boosters one by one?  While that solution seems pretty awesome in removing a remote dependency, it still ships all Boosters as a unified catalog.

[2017-08-03 09:26] #36 closed

[2017-08-03 16:03] jstrachan commented on #44
this basically means we'd like to maintain our own catalog where we use CI to verify all versions of all boosters work in OSIO before they get into the OSIO catalog.

Then as a new booster is released we can automate a PR against our OSIO catalog's git repo and only if it passes all the OSIO tests does it get to prod OSIO

[2017-08-03 16:08] gastaldi commented on #44
Why having your own catalog and not just one that is used by us all? I think this strategy is valid for us too.

[2017-08-03 16:13] jstrachan commented on #44
how could we verify 1 version change to 1 booster works in a CI job for our catalog on OSIO with OSIO tests if we just use the 1 git tag that you give us? If you can set all that up for us that'd be great.

If not we can just have our own catalog and we use our CI tests to verify changes to versions of boosters

[2017-08-04 06:41] jstrachan commented on #47
I struggle to see how there can be one catalog with one set of boosters & versions of boosters for all platforms. The catalog then becomes a single monolith that must be tested on all possible platforms before it can ever be released.

A more microservice based approach sounds more optimal to me - letting boosters & platforms move faster with less blocking - where each platform maintains its own f

[2017-08-04 09:00] edewit commented on #44
So I think these problems will solve themselves as we will move to a more CI flow. One thing we might need to figure out is how to spring off 2 integration tests ours and yours. We could also try fix all the integration problems you are now having, so there is no need for a separate catalog. BTW we now have a branch of the catalog for you, doesn't that suffice? When we hook up a webhook on all the

[2017-08-04 18:55] ALRubinger opened #48 "Require all users to be logged in through RHD"
Legal requirement

RHT Internal: https://issues.jboss.org/browse/OBST-330

[2017-08-07 09:55] jstrachan commented on #44
@edewit lets say we're at version 1.0 of all the boosters. Then 2 folks release new versions of 2 boosters. One works on OSIO and one doesn't. So we'd be stuck on the 1.0 versions of all boosters right until both boosters are fixed so we can move to the new version?

I guess I don't yet grok how to use a single version of all boosters in a granular microservice like way. With microservices we can

[2017-08-07 11:40] edewit commented on #44
@jstrachan well now we do a monolith release of the boosters by tagging them all at the same time, but we could perform all this testing automated on each PR and then when the PR works update the booster catalog automatically to include the latest booster (we could use a hash or another tag). Now that some boosters don't work for you we would keep a branch in the catalog for you and a branch for u

[2017-08-07 11:52] jstrachan commented on #44
I've only ever seen good automated CI / CD work well with fine grained microservices with independent versions/changes; not sure how a monolithic approach is gonna work out in practice - but am very happy for you to try it out

[2017-08-07 11:58] edewit commented on #44
right, that is why we'll stop doing that. This ticket it to resolve the issue.

[2017-08-07 15:22] gastaldi commented on #37
Production URL:  http://launchpad-nginx-launchpad-production.09b5.dsaas.openshiftapps.com/wizard

[2017-08-07 15:24] kenfinnigan opened #49 "Productized repositories/branches"
Is it acceptable for productized repositories or branches to be public, given they refer to product versions and would need to include product Maven repositories for building?

If they can't be public, can LOSIO/Forge connect to internal git repositories for cloning?

[2017-08-08 11:30] edewit commented on #48
So this means even if you chose the 'download zip' option you have to login?

[2017-08-08 12:14] gastaldi commented on #45
@kbsingh asked why a new org and not https://github.com/fabric8-services

[2017-08-08 14:14] ALRubinger commented on #48
@edewit Yep.

[2017-08-08 15:09] #28 closed

[2017-08-08 15:10] gastaldi commented on #42
https://github.com/openshiftio/appdev-planning/issues/26 is related to this

[2017-08-08 18:19] gastaldi commented on #42
This is something that will probably be a blocker. I tested the authentication in http://launchpad-nginx-launchpad-production.09b5.dsaas.openshiftapps.com and I get the message: `user ggastald-osio cannot create more than 1 project(s).`.

Logging in my https://console.starter-us-east-2.openshift.com/console/ account, I see this:

![screenshot from 2017-08-08 15-17-28](https://user-images.githubuse

[2017-08-08 19:42] gastaldi commented on #42
After talking with Aslak,in the openshiftio-saas channel (https://chat.openshift.io/developers/pl/5u8khtyjkpgjjgygjyey1pqsuw) he mentioned that we'd need to deploy the booster in an existing project, therefore we need to change the UI (and Mission Control) to support that.

[2017-08-08 19:44] gastaldi opened #50 "Deploy booster in an existing OpenShift Project"
OSO Free clusters (us-east-2 starter for example) has a quota on the possible projects (max 1). When OSIO is setup in your account, that means you can't create another project (namespace) in that OpenShift cluster, so the solution is to deploy suggested by Aslak is to deploy the booster in an existing OpenShift project.

[2017-08-08 19:45] gastaldi commented on #50
Chat log: https://chat.openshift.io/developers/pl/5u8khtyjkpgjjgygjyey1pqsuw

[2017-08-08 19:45] gastaldi commented on #42
Created an issue: https://github.com/openshiftio/appdev-planning/issues/50

[2017-08-08 20:06] gastaldi commented on #26
We need to change how the authentication is handled in the frontend, but the basic is redirect the user to https:/api.openshift.io/login/authorize?link=true&redirect=https://some.endpoint.on.your.side and eventually it should come back to redirect?token=xxx

[2017-08-09 08:59] #48 closed

[2017-08-09 09:01] edewit commented on #22
@gastaldi @ALRubinger is the message okay like screenshot above or do we want to make it a bit more readable?

[2017-08-09 09:55] gastaldi commented on #22
IMHO that message above is definitely not user-friendly

[2017-08-09 10:17] jstrachan commented on #50
also if you use a pipeline based BuildConfig then by default OSO will create a Jenkins master in that namespace. So creating 2 boosters in 2 different namespaces would result in 2 jenkins master which soon eats up your entire OSO free tier quota.

So the default should be for boosters to reuse the users default project where possible; whether thats the 1 in OSO or the main user namespace in OSIO -

[2017-08-09 14:28] gastaldi commented on #37
Production: https://launch.openshift.io
Staging: https://launch.prod-preview.openshift.io

[2017-08-09 14:30] gastaldi commented on #37
Referenced gitlab issue: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/429

[2017-08-09 14:31] gastaldi commented on #37
The launch-stage.openshift.io domain will be dropped, since IT already have TLS certificates for *.prod-preview.openshift.io and it maintains the standard so it's easier to automate, support, etc...

[2017-08-10 12:51] Ladicek commented on #43
Just as a status update, after re-verification, these issues are still open:

Open issues:

- https://github.com/arquillian/arquillian-cube/issues/633
- https://github.com/arquillian/arquillian-cube/issues/743

Out of these 2, https://github.com/arquillian/arquillian-cube/issues/743 is a blocker.

[2017-08-16 09:57] Ladicek commented on #35
https://github.com/fabric8io/fabric8-team-components/issues/119

[2017-08-16 10:01] #37 closed

[2017-08-16 13:51] ALRubinger opened #51 "Add feature flag to assume ZIP download only option"
Would skip the deployment type screen and assume "Download as ZIP"

[2017-08-16 13:53] ALRubinger opened #52 "Rebrand LOSIO to developers.redhat.com"
To be coordinated with Cat Robson and James Cobb

[2017-08-16 13:54] quintesse commented on #51
Perhaps just activate this automatically when GitHub/OpenShift auth info is missing?

[2017-08-16 13:57] gastaldi commented on #51
And Keycloak info is missing too?

[2017-08-16 20:37] Ladicek commented on #35
Also for the Swarm booster to build (which includes running the Swarm Arquillian test, and hence starting a _3rd_ Java process in the build container), I had to adjust memory limits: https://github.com/fabric8io/fabric8-pipeline-library/pull/293

[2017-08-18 13:58] Ladicek commented on #35
For https://github.com/fabric8io/fabric8-team-components/issues/119, I sent https://github.com/fabric8io/fabric8-team-components/pull/122

[2017-08-22 18:30] gastaldi opened #53 "Swap project deployment implementation with S2I"
We retain the feature to launch to OpenShift Online, but instead of promoting "Continuous Delivery", we reserve this term and the use of Jenkins/Pipelines for OSIO.  Instead, we focus on "Build and Deploy" messaging and swap our implementation with s2i to build the binary artifact and bake the container.

[2017-08-22 19:30] catrobson commented on #52
Overall design:
![launch_homepage_aug10-2017](https://user-images.githubusercontent.com/3739227/29583288-9e6a7fa0-874d-11e7-9e18-37abfd36a90e.jpg)

@ALRubinger I think we need content reviewed and agreed upon under "Launch".

@edewit
Logo: http://design.jboss.org/redhatdeveloper/rhdp_brand/logo/images/RHDP_logo_RGB_reverse_500px.png
Background image:  Let's get James Cobb to provide a real version

[2017-08-24 16:32] Ladicek commented on #35
I checked the Health Check boosters and there are no other changes needed (besides those described above).

I also checked the ConfigMap boosters, but none of them work properly on OSIO right now, because they assume a bunch of preparations done in our `Jenkinsfile`s. I think addressing this is currently work in progress.

[2017-08-25 15:46] gastaldi commented on #42
We'll move back to our original realm and add all the starter clusters

[2017-08-25 15:46] #42 closed

[2017-08-30 06:22] ALRubinger commented on #41
Status on this overarching issue?  Work done in Launch but needs work done in Catalog or by product teams?

[2017-08-30 09:45] quintesse commented on #41
All the work on our side is done. It's up to the product teams to adjust their boosters.
(Should I close this issue leaving the OBST issue while we track and prod the product teams?)

[2017-08-30 20:05] gastaldi commented on #50
The addon now displays a warning if an existing project is chosen, but the UI allows you to deploy on it. The UI needs to be enhanced to display a list of available projects

[2017-08-31 00:32] gastaldi commented on #52
@edewit the Launch Your Project button looks a bit different from the overall design above, is that correct?

[2017-08-31 00:33] gastaldi commented on #52
Link for reference purposes: https://launch.prod-preview.openshift.io/wizard

[2017-08-31 07:49] edewit commented on #52
@gastaldi yes that is correct the image here is an initial design. I've gotten an updated one by email the reason it's white now is because it contrasts better

[2017-09-04 16:49] gastaldi commented on #39
Done, and templates were updated. The cluster configuration file contents is embedded in the openshift template and it is activated if the OPENSHIFT_API and CONSOLE URLs are not specified

[2017-09-04 16:49] #39 closed

[2017-09-04 17:50] #24 closed

[2017-09-06 12:44] Ladicek commented on #35
I think I didn't mention this here yet, but one additional issue with Swarm boosters on OSIO was [SWARM-1518](https://issues.jboss.org/browse/SWARM-1518). This was already fixed and released, so this will be gone when [SWARM-1538](https://issues.jboss.org/browse/SWARM-1538) is resolved.

[2017-09-08 18:15] burrsutter opened #54 "For minishift and OCP users, replace "OpenShift Online" with "OpenShift""
When using Launcher/Launchpad on minishift or OCP, the label of the button should not say "OpenShift Online" but just "OpenShift"
http://www.screencast.com/t/O27mTA69Ek
http://www.screencast.com/t/wIPwe8rueht

[2017-09-08 18:46] #52 closed

[2017-09-08 18:50] gastaldi commented on #1
Replaced with S2I builder

[2017-09-08 18:50] #1 closed

[2017-09-08 18:52] gastaldi commented on #18
Replaced with S2I Builder

[2017-09-08 18:52] #18 closed

[2017-09-08 18:53] gastaldi commented on #14
Readmes are updated in the launchpad-backend

[2017-09-08 18:53] #14 closed

[2017-09-08 18:54] gastaldi commented on #15
Closing as out-of-date

[2017-09-08 18:54] #15 closed

[2017-09-11 15:03] #53 closed

[2017-09-11 15:04] gastaldi commented on #51
Is this still needed or is out-of-date because we now do s2i?

[2017-09-11 15:24] cmoulliard opened #55 "Add buildProfileParameter to the launcher"
The booster catalog yaml config file accepts as parameter a profile:

[code]

but we can't specify a properties to pass to the profile. This is why I would like to propose to add  `buildProfileParameters` where we can express using as convention key1=val1,key2=val2,..... parameters to pass to the profile

Why :
Spring Boot will rely on a profile definition to pass as parameter the productized vers

[2017-09-11 15:32] gastaldi commented on #55
@cmoulliard why this parameter needs to be specified in the booster and not directly in the `spring-boot.bom.version` property itself?

[2017-09-12 12:32] cmoulliard commented on #55
@gastaldi To avoid that it appears within the upstream project hosted on github

[2017-09-12 12:36] gastaldi commented on #55
@cmoulliard thanks for the response, but why would you want to avoid to display that? Wouldn't that information be in the booster-catalog anyway?

[2017-09-12 12:38] gastaldi commented on #55
The original intent was that every booster had their own versioning. The problem of putting in the booster-catalog is because you have to change it when a new version comes along too, instead of changing just the `gitRef` for the new supported version.

[2017-09-12 12:46] cmoulliard commented on #55
As launch is tagged when it is released, such versions will be part of the version tagged = released and pushed on launch.openshift.io - correct ? When a new launch version will be prepared for a next release where by example we will propose to include the work done for RHOAR Beta2, we will adapt such parameters like you will also do for the gitRef as we have to point to the appropriate boosters w

[2017-09-12 12:58] gastaldi commented on #55
@edewit @ALRubinger @quintesse thoughts? I am still not 100% convinced that we should be doing that :)

[2017-09-12 13:07] edewit commented on #55
@cmoulliard I don't get it entirely... so instead of having a commit that changes a version number in a pom file you want to have a commit in the booster catalog that changes a version number. But why?

[2017-09-12 13:27] cmoulliard commented on #55
To avoid that the PROD version number appears within the upstream project

[2017-09-12 15:20] edewit commented on #55
@cmoulliard but all these version numbers will be in the bom as well right? And this version will be a separate branch?

[2017-09-20 08:53] siamaksade commented on #34
Supporting top-level package name in the wizard is important because on one hand most users will come from altnative generators that do support package name and on the other hand every single time someone generates a project they have to go and either delete the generated classes or rename the package. If every single user has to take the same action, then that seems like a legitimate thing for th

[2017-09-20 11:10] ALRubinger opened #56 "Enhance Booster Contribution Experience"
As we have begun to socialize Launch throughout RHT, this request has been thematic.  Groups involve include BobMcW, Open Innovation Labs, RHOADS, OSIO teams thus far.

Needs to be as encouraging as possible to contributors.  Look at:

* A Contribution Guide explaining how to contribute a Booster
* How to surface Boosters which are not part of the standard Missions structure (or even the Catalog!)

[2017-09-20 11:13] ALRubinger commented on #56
On the point of splitting up the catalog to be owned by the platforms using Launch, see notes in https://github.com/openshiftio/appdev-planning/issues/47

[2017-09-26 15:41] omajid commented on #32
Ping. Are there any blockers or issues implementing these changes? Is there anything our team can help with?

cc @grokem

[2017-09-27 12:29] edewit opened #57 "Add oath for running local / minishift"
Use oath to be able to login locally or on minishift to make launch multi tenant.

[2017-09-29 15:23] rdruss commented on #41
@quintesse, I think your work on this issue is done and this can be closed.  I've seen it working in action.  :-)

[2017-09-29 15:28] rdruss opened #58 "Change launcher flow to start with selecting runtime"
In the F2F last week, the question was posed as to whether the Launch flow could change to allow selection of runtime first.  Thinking through how a typical developer would engage with Launch, more than likely they already know what runtime they are interested in and would like to see the set of missions available for their runtime.  The flow is a bit counter to this.  An interesting side effect c

[2017-09-29 15:30] quintesse commented on #41
Yup, you're right. Closing.

[2017-09-29 15:30] #41 closed

[2017-09-29 15:50] spisiakm commented on #43
Just wanted to give an update on this:
[arquillian/arquillian-cube#743](https://github.com/arquillian/arquillian-cube/issues/743) has been resolved and the Arquillian guys released a new version of Arquillian Cube with this fix - 1.9.0. Next week I'm going to try getting it working with ConfigMap booster.

[2017-09-29 15:54] gastaldi commented on #58
https://github.com/openshiftio/launchpad-addon/issues/26

[2017-09-29 16:20] rdruss opened #59 "Easy way to clean up boosters"
This may just be an issue from the engineering perspective, but it would seem there is a need to create an easy way to clean up after (delete) boosters that have been deployed to an OpenShift instance.  There is removing the project from OpenShift as well as cleaning up GitHub.  I'm just now looking at all the "trash" I have in GitHub from testing out Launch.  The getting started flow is great, bu

[2017-09-29 18:59] #58 closed

[2017-10-02 09:50] Ladicek commented on #43
To expand on what @spisiakm said: we've verified that Cube 1.9.0 is enough for simple boosters like http or health check, and will have PRs for those this week (hopefully :-) ). We'll be looking at CRUD and ConfigMap next.

[2017-10-02 13:40] quintesse opened #60 "Make "Try Again" button work"
Right now the "Try Again" button only works if the error was in the first step of the launch procedure. If it is in any later step retry will just start from the beginning again, try to recreate the GitHub project and fail.

Proposed solution is for the frontend to pass the index of the failed step  to the backend which would then pass it on to mission control so that  it can skip the steps that w

[2017-10-03 12:57] quintesse opened #61 "Make it possible to override catalog in URL"
Imagine if we could have an URL like : http://launch.openshift.io?catalog=github.com/myuser/mycatalog  (probably don't need the "github.com/" part) that would override the catalog used by the Launch app.

People (The Community) could write their own set of boosters, examples, quickstarts, whatever and make them available to others without having to run their own Launch app.

[2017-10-03 12:59] quintesse opened #62 "Direct linking to boosters"
Imagine if we could have an URL like : http://launch.openshift.io?booster=github.com/myuser/mybooster  that would directly go to the specified booster.

That way people (The Community) could use those URLs in blog posts, articles, tweets etc when talking about a specific example.

Related to #61

[2017-10-05 12:07] #45 closed

[2017-10-05 12:09] gastaldi commented on #8
Can this issue be closed now?

[2017-10-05 12:11] gastaldi opened #63 "Move redhat-sso project to another organization"
Right now the redhat-sso project lives in the https://github.com/obsidian-toaster-quickstarts/redhat-sso URL. The obsidian-toaster-quickstarts organization should be renamed to something more community-based (without obsidian-toaster in its name)

[2017-10-10 12:36] Ladicek commented on #43
I have PRs open for all Swarm boosters (except of SSO, which is undergoing much bigger changes). Vert.x is work in progress by @spisiakm and on Spring Boot front, I believe @alesj is working on this as well.

[2017-10-13 09:09] edewit commented on #60
for tracking this is the front-end issue: https://github.com/fabric8-launch/launchpad-frontend/issues/190

[2017-10-19 15:36] quintesse opened #64 "Make sure we can have download-only boosters"
See https://issues.jboss.org/browse/OBST-313

For example the SSO boosters are not ready to be used with the Launch application but they can still be used by people when downloading the zip and setting up their environments manually.

The current plan is to add a `disableLaunch` option to the booster .yaml files in the booster catalog. This way the decision of including or not including a certain

[2017-10-31 10:50] quintesse commented on #64
Done

[2017-10-31 10:50] #64 closed

[2017-11-01 12:47] gastaldi opened #65 "Revisit need for booster.yaml in Booster repositories"
As it is, it is quite cumbersome to track human-readable version names and keep them in sync with the information that lives in booster catalog. It would simplify the maintenance if we got rid of booster.yaml and put the information that currently lives there in booster catalog

Implementation issues:

 - fabric8-launcher/launcher-booster-catalog-service#22
 - fabric8-launcher/launcher-backend#28

[2017-11-01 13:27] quintesse commented on #65
Btw, this change could perhaps also remove the need to retrieve all the boosters from GitHub at startup. It would add an extra step to the Launch process of course: first retrieving the Booster from GitHub before making the necessary changes to it and pushing it again to the user's account. But it would make the backend less complex perhaps and stateless (no need to have anything running, it's jus

[2017-11-02 08:30] metacosm commented on #65
Indeed, this would allow Launch to get all the booster metadata from the catalog. I also assume that with one less file to parse, it would also make the launcher simpler.
Another aspect of things that we might need to consider as well while refactoring that metadata aspect is internationalization of that metadata… Not fun but probably needed at some point. Re-thinking the metatada might be a good

[2017-11-02 09:19] heiko-braun commented on #65
I am all for it.

[2017-11-02 17:36] quintesse opened #66 "Refactor Mission Control for re-use"
The idea is to:

 1. Move the "web" part of Mission Control to the backend, which means:
    1. Move the code
    2. Integrate with the backend
    3. Update any code, configuration and OpenShift templates that expects to talk to mission control to now talk to the backend
 2. Merge OSIO's "launch" code into ours in Mission Control
 3. Make OSIO's addon use Mission Control

[2017-11-03 09:54] quintesse commented on #66
Right now step 1 is being developed in the following branches: https://github.com/fabric8-launch/launchpad-backend/tree/accept-web-from-missioncontrol and https://github.com/fabric8-launch/launchpad-missioncontrol/tree/move-web-to-backend

[2017-11-06 18:33] gastaldi opened #67 "Allow composition of services in a booster"
It would be nice if the generator allowed the user to choose the services they would need (in a similar way that start.spring.io does) when generating a project.

Verify how would that work together with the OpenShift Service Catalog (https://docs.openshift.com/container-platform/3.6/architecture/service_catalog/index.html)

[2017-11-09 17:47] gastaldi opened #69 "Merge launchpad-backend with fabric8-backend"
The backend is a REST wrapper for the Forge addons. The idea is to merge the backends available in https://github.com/fabric8-launch/launchpad-backend and https://github.com/fabric8io/generator-backend to have a single codebase.

[2017-11-09 18:16] slemeur opened #70 "[EPIC] Leverage Chefile in fabric8 boosters"
## Goal
Anyone who is using Launcher (from standalone or from its integration within OSIO) will be able to get a developer workspace in Che fully ready and configured to work on the generated project (boosters).

## Description
When a user is using Launcher, he is selecting a booster which is then uploaded on a git repository. We want to provide the associated Chefile with the booster so that it p

[2017-11-09 18:18] #70 closed

[2017-11-09 20:59] quintesse commented on #69
@gastaldi will you at least wait with this until I'm done with the other changes? I'm afraid the merging might be somewhat difficult otherwise.

[2017-11-09 21:00] gastaldi commented on #69
Of course, we'll only start working on this after https://github.com/openshiftio/appdev-planning/issues/66 is done

[2017-11-15 13:52] ALRubinger opened #71 "appdev.openshift.io SSL Cert expired"
As reported by @jasonmadigan

<img width="1212" alt="ssl-expired" src="https://user-images.githubusercontent.com/199891/32839383-3ca1c968-c9e2-11e7-8ac4-2d2e250a626c.png">

[2017-11-15 15:31] ALRubinger commented on #65
+1

[2017-11-17 18:34] gastaldi commented on #71
Issue opened for our SD team: https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/796.

Closing now

[2017-11-17 18:34] #71 closed

[2017-11-21 13:08] ALRubinger opened #72 "Refit application to proxy instead of redirect"
Our resources are set to load under the root `/` instead of `/launch`, where they'll be under `developers.redhat.com/launch`.

Let's have our root `index.html` redirect to `/launch/index.html` and serve the application from there.

Instructions to test staging site:

1. From a terminal, run: `host developers.redhat.com.edgekey-staging.net`
(this returns 23.200.241.248 for me at the moment, but the

[2017-11-21 13:21] edewit commented on #72
following the steps above I still get a redirect to `https://launch.openshift.io/` when visiting `http://developers.redhat.com/launch`

[2017-11-21 13:22] gastaldi commented on #72
@edewit have you followed the above instructions?

[2017-11-21 13:22] edewit commented on #72
yes

[2017-11-21 13:26] gastaldi commented on #72
You're right. I get the same behavior. Replying to the email

[2017-11-24 15:54] gastaldi commented on #69
Both codebases were merged in https://github.com/fabric8-launch/launcher-backend

[2017-11-24 15:54] #69 closed

[2017-11-24 15:55] gastaldi commented on #66
Merged into https://github.com/fabric8-launch/launcher-backend

[2017-11-24 15:56] gastaldi commented on #66
These steps are still missing:

2. Merge OSIO's "launch" code into ours in Mission Control
3. Make OSIO's addon use Mission Control

[2017-11-28 00:51] gastaldi opened #73 "Decouple adding of a new runtime from launchpad-frontend"
_From @valdar on November 27, 2017 22:23_

Ideally should be possible to add a new runtime just by modifying https://github.com/fabric8-launch/booster-catalog.

The only needed pieces here are in https://github.com/fabric8-launch/launchpad-frontend/tree/master/src/assets/img/project-select-icons ?

_Copied from original issue: fabric8-launch/launchpad-frontend#214_

[2017-11-28 00:52] gastaldi opened #74 "Decouple adding of a new mission from launchpad-frontend"
_From @valdar on November 27, 2017 22:25_

Ideally should be possible to add a new mission just by modifying https://github.com/fabric8-launch/booster-catalog.

The only needed pieces here are in https://github.com/fabric8-launch/launchpad-frontend/blob/master/src/assets/adoc.index ?

_Copied from original issue: fabric8-launch/launchpad-frontend#215_

[2017-11-28 04:47] gastaldi commented on #66
Step #2 seems done. We're working on bringing the OSIO to the same repository and refactoring to consume the mission control services

[2017-11-28 06:40] edewit commented on #73
@valdar are you telling me that this doesn't work cause it should already be like this.

[2017-11-28 06:41] edewit commented on #74
Same here this should work could you tell me what the issue is?

[2017-11-29 14:01] gastaldi opened #75 "Migration plan to code-base merging and new repository naming"
- [x] Rename repositories
- [x] Make sure all vestiges of "launchpad" are removed.
- [x] Make things work.
- [x] Merge branches into master.
- [x] Fix CI/CD
- [x] Talk with the SD guys with a plan to replace production with our new template

[2017-11-29 14:02] quintesse commented on #75
Hey, that's my list ;)

[2017-11-29 17:21] cmoulliard opened #76 "Remove description "In your GitHub namespace, create a repository containing your new project’s code""
This afternoon, I was looking to the screen to be used to link github account or openshift online instances and when I was reading to this this line " In your GitHub namespace, create a repository containing your new project’s code."

https://www.dropbox.com/s/l0k61h7i9kinheo/Screenshot%202017-11-29%2018.04.31.png?dl=0

I had the impression that somebody was asking me to create a github project !

[2017-11-30 17:38] heiko-braun opened #77 "Allows allow access to manage Federated Identities"
As a user I would like to move from a previous started cluster to a pro account. I have created the pro account, but the launcher prevents access to manage Federated Identities:

![screen shot 2017-11-30 at 18 26 04](https://user-images.githubusercontent.com/369380/33445617-a3115318-d5fd-11e7-997d-8b6135f9dcdd.png)

[2017-11-30 17:39] gastaldi commented on #77
Temporary workaround is to do that in https://sso.openshift.io/auth/realms/rh-developers-launch/account/identity

[2017-12-01 14:02] #72 closed

[2017-12-03 13:46] gastaldi commented on #66
Opened https://github.com/openshiftio/openshift.io/issues/1499 to deal with the OSIO addon refactoring. Closing this now

[2017-12-03 13:46] #66 closed

[2017-12-04 06:00] valdar commented on #74
The description of a new mission seems to come from launchpad-frontend projects, so is not possible to just modify the catalog in order to add a new one.

[2017-12-04 06:02] valdar commented on #73
It is, the only missing thing is linking an icon to the newly created runtime.

[2017-12-04 14:28] ALRubinger opened #78 "Update production configuration and move booster-catalog to launcher-booster-catalog"
Coordinate these work items such that renaming the GitHub repository does not break staging and production.

[2017-12-04 14:35] gastaldi commented on #78
https://gitlab.cee.redhat.com/dtsd/housekeeping/issues/895

[2017-12-04 14:40] ALRubinger opened #79 "Move openshiftio/booster-parent to fabric8-launcher/launcher-booster-parent"
Coordinate with runtime teams for ownership, particularly @cescoffier

[2017-12-04 14:41] ALRubinger commented on #79
Same with booster-common

[2017-12-04 15:04] #60 closed

[2017-12-04 15:59] gastaldi opened #80 "Update staging environment to use our new backend"
The staging openshift template and CI jobs need to be updated to use the new launcher-backend and the fabric8-launcher org

[2017-12-04 16:00] gastaldi commented on #80
Work with @vpavlin to get the environment set

[2017-12-05 10:28] metacosm opened #81 "openshift-online-free branch should be replaced by additional metadata."
As it stands the `openshift-online-free` branch is redundant and a maintenance liability. It would be better if boosters could be marked as available on the free tier as part of their metadata instead of having to maintain a branch to record that information.

[2017-12-05 13:14] quintesse commented on #81
A suggestion might be to add a special tag to the .yaml file named `environment:`. If it doesn't exist the booster appears in all environments (`dev`, `staging`, `production`). If it does exist you can give it a list of environments where it should appear. (We could even do something more fancy and allow you to say `environment: -free` meaning that you want it to appear everywhere except in the fr

[2017-12-06 18:26] #78 closed

[2017-12-06 18:30] #43 closed

[2017-12-06 18:34] gastaldi commented on #21
A new screen was introduced in the UI allowing to bind the clusters the user has access without having to browse to Keycloak. Closing

[2017-12-06 18:34] #21 closed

[2017-12-06 18:38] gastaldi commented on #79
We agreed that it looks weird having an io.openshift groupId in the fabric8-launcher organization

According to @cescoffier:

[2017-12-06 18:38] #79 closed

[2017-12-11 02:31] #50 closed

[2017-12-15 15:46] gastaldi opened #82 "provide a way to configure launcher-documentation location"
_From @valdar on December 14, 2017 16:20_

If one need to point the backend to a different launcher-documentation location right now this file needs to be modified:
https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/launcher-addon/add-template-files.sh#L7
and the project rebuild.

Would be useful, specially during new boosters/runtimes development, to have this configurable at

[2017-12-15 16:24] valdar opened #83 "launcher-backend: make possible to specify a different README base template per runtime not just per mission"
in the readme doc files imported form https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/launcher-addon/add-template-files.sh#L7 (i.e. the one present here https://github.com/fabric8-launcher/launcher-documentation/tree/master/docs/topics/readme) should be possible to specify a base templete (.adoc file) per runtime, right now it is only possible to have one per Mission.

This

[2017-12-18 15:16] ALRubinger opened #84 "Retry may be broken"
Observed when @gastaldi did a demo and had GitHub repository that already exists; retry was stuck in error state.  Assign as necessary. :)

[2017-12-19 10:55] edewit commented on #84
this seems to be missing:
https://github.com/fabric8-launcher/launchpad-addon/pull/58

[2018-01-02 17:05] #80 closed

[2018-01-03 02:19] gastaldi opened #85 "Support multiple booster catalog repositories"
It would be interesting if we could compose a single booster catalog out of multiple catalog repositories.

This would allow to introduce new boosters without affecting the official repository.

[2018-01-03 14:08] #84 closed

[2018-01-03 14:15] ALRubinger opened #86 "Create Community and Contribution Home: launcher.fabric8.io"

[2018-01-03 14:19] ALRubinger opened #87 "Ensure metrics are fully hooked together for developers.redhat.com/launch"

[2018-01-03 14:20] ALRubinger opened #88 "Draft Istio Use Cases for Review as New Missions"
Currently awaiting names of these Missions and general intent from JohnC and Diogenes

[2018-01-03 14:21] ALRubinger opened #89 "Develop QE Plan for Testing in all target OSO Environments"

[2018-01-03 14:24] ALRubinger commented on #13
This issue is now about instructing the user how to enable tracking features in their own instances of Launcher

[2018-01-03 14:26] ALRubinger commented on #89
Corollary: inventory OSO State in all Environments, Engaging OSO Team as necessary.  Ideally we'll have a Dashboard of all Boosters showing status in all environments

[2018-01-03 16:02] ALRubinger opened #90 "Enable "incremental" flag in s2i builds"
RHT Only reference: https://issues.jboss.org/browse/OBST-418

@gastaldi, mind looking into this so we may clear it from the product backlog?

[2018-01-03 16:38] gastaldi commented on #90
- [ ] Verify if the Vert.x boosters have this flag set in their `.openshiftio/application.yaml` files
- [ ] Verify if the WildFly Swarm boosters have this flag set in their `.openshiftio/application.yaml` files
- [ ] Verify if the Spring Boot boosters have this flag set in their `.openshiftio/application.yaml` files
- [ ] Verify if the Node.js boosters have this flag set in their `.openshiftio/app

[2018-01-03 17:38] gastaldi commented on #90
Pull requests created. Now we need the runtime owners to merge them, release and then update booster-catalog. /cc @lholmquist @heiko_braun @kenfinnigan

[2018-01-03 19:06] lholmquist commented on #90
👀

[2018-01-03 20:14] ALRubinger commented on #56
Should be a part of, or linked from launcher.fabric8.io: #86

[2018-01-03 20:16] ALRubinger commented on #81
+1

[2018-01-03 20:55] gastaldi commented on #81
Perhaps we could reuse the `label:` feature that was introduced some time ago and never used until now

[2018-01-04 12:40] quintesse commented on #13
@rhoads-zach I now know what this is about so when you have time we can discuss how to best handle this

[2018-01-04 16:06] cmoulliard opened #91 "Remove "anonymous" prefix from openshift name created on minishift"
When /launch is deployed on minishift AND when we don't use keycloak to auth the user, then "anonymous-" prefix name is included by the workflow to create the project name

![screenshot 2018-01-04 16 52 46](https://user-images.githubusercontent.com/463790/34572344-762a9212-f171-11e7-9b34-066115656d42.png)

![screenshot 2018-01-04 17 00 57](https://user-images.githubusercontent.com/463790/34572302-

[2018-01-04 22:03] ALRubinger commented on #86
For instance check out design done by the Planner team:

  https://fabric8-ui.github.io/fabric8-planner/

[2018-01-04 22:52] gastaldi commented on #86
That looks cool for a first version.  +1 to reuse that.

[2018-01-05 13:35] #76 closed

[2018-01-08 12:41] quintesse commented on #87
Status update: no reaction so far from the parties responsible for the Woopra account. Waiting a couple of more days before escalating because some people might still be on vacation.

[2018-01-08 14:14] gastaldi opened #92 "Create an endpoint to list and update webhooks"
According to https://github.com/fabric8-services/fabric8-jenkins-proxy/issues/94#issuecomment-355967734, the existing webhooks need to be replaced by the Jenkins Idler service URL for some users.

The solution is to create an endpoint that lists and updates the webhooks for a given codebase.

[2018-01-08 22:49] gastaldi opened #93 "Support different SCM providers"
We should provide services that support integration with other SCM providers, like GitLab and GOGS

[2018-01-10 13:53] gastaldi opened #94 "Leverage Chefile in fabric8 boosters"
Launcher backlog for https://github.com/openshiftio/openshift.io/issues/1318

## Goal
Anyone who is using Launcher (from standalone or from its integration within OSIO) will be able to get a developer workspace in Che fully ready and configured to work on the generated project (boosters).

## Description
When a user is using Launcher, he is selecting a booster which is then uploaded on a git repos

[2018-01-11 23:40] ALRubinger commented on #86
Also keep in mind the excellent prototyping done by @rhoads-zach

[2018-01-11 23:41] ALRubinger opened #95 "Redirect on developers.redhat.com/launch requires trailing slash"
@gastaldi is on this with the RHD ENG team; here for tracking

[2018-01-12 22:55] gastaldi commented on #86
The SD team has created https://redhat.service-now.com/surl.do?n=RITM0243107 to request transferring the fabric8.io DNS to the RH servers

[2018-01-12 23:40] ALRubinger commented on #86
Excellent!

[2018-01-17 16:04] #95 closed

[2018-01-17 17:54] quintesse commented on #95
Yay! Finally :)

[2018-01-18 08:37] #91 closed

[2018-01-18 12:16] gastaldi commented on #89
I talked to Len Dimaggio and he managed to write an E2E script to test if a booster works in OSIO.

The test is here - the test setup is simple, and all it requires to run is a URL for OSIO production or prod-preview.

https://github.com/fabric8io/fabric8-test/blob/master/ee_tests/src/specs/booster_pipeline.spec.ts

@Ladicek is already aware of it.

[2018-01-19 18:13] bartoszmajsak commented on #10
@gastaldi was there any progress on this one?

[2018-01-19 18:17] gastaldi commented on #10
wdyt @cescoffier ?

[2018-01-19 18:26] quintesse commented on #10
Also +1 on this. if we want this to be a community project I can't imagine telling people they need to use a parent POM. If you create Booster projects that people are supposed to use as a basis for their own application then there shouldn't be any extra dependencies. And if the Booster is meant for educational purposes instead you also don't want to have to explain to people what that parent POM

[2018-01-19 18:27] bartoszmajsak commented on #43
If this is closed @gastaldi does it mean we are with non-trivial boosters too?

[2018-01-19 19:00] gastaldi commented on #43
@bartoszmajsak not sure what non-trivial boosters are you referring to, but I believe they should all run Arquillian Cube too.

[2018-01-19 19:07] gastaldi commented on #10
I am not entirely sure we'd want to get rid of a parent pom completely. Having a parent POM is a good practice and the majority of Maven applications out there has a parent pom. Nobody wants to redefine everything a new projects is created.

Perhaps we could ask for the parent pom coordinates in our wizard steps? That would be a much more realistic scenario IMHO.

[2018-01-19 21:04] quintesse commented on #10
I'm not sure how that would help? First it means that we would have to make our Boosters independent of the current parent pom anyway (= good), but then we'd add this unknown entity to the generated pom while there's no code that makes use of it anyway.

Now the moment the user starts adding code they might need it, but couldn't they just add that parent reference themselves? I'm not sure I see th

[2018-01-23 10:18] Ladicek commented on #10
If there was a vote, I'd totally vote for removing any and all parent POMs from the boosters for the reasons stated above -- it damages the learning experience. With Spring Boot plans of introducing a _second_ parent POM, it's even worse. Of course removing parent POMs means much bigger maintenance cost for us.

[2018-01-23 10:32] gastaldi commented on #10
Right, I think that makes sense.

Removing the poms would also make easier to introduce service composition in the future (without the need to calculate the effective POM) so +1 to remove.

[2018-01-23 14:39] #73 closed

[2018-01-25 20:05] lholmquist opened #96 "LAUNCHER_BOOSTER_CATALOG_REPOSITORY can be a git repo on the file system"
When developing locally, it would be nice if i could point this env var, LAUNCHER_BOOSTER_CATALOG_REPOSITORY, to my booster catalog repo on my local file system.

This might speed up development a little when someone is making small changes to the catalog they want to see

[2018-01-25 20:16] gastaldi commented on #96
As explained by Andrea Tarocchi, you can specify a Git directory in the `LAUNCHER_BOOSTER_CATALOG_REPOSITORY` and that will work.

 Closing this issue now.

[2018-01-25 20:16] #96 closed

[2018-01-26 20:13] ALRubinger opened #97 "Cannot change configured OSO Cluster"
Once the cluster association has been set, the Web UI hides a link or explanation to change configured clusters.  This is problematic as provisioning into new clusters may change over time.

Quick fix it to put back the link to manually handle this:

https://sso.openshift.io/auth/realms/rh-developers-launch/account/identity

...but a better, more intelligent solution will have cluster association

[2018-01-26 21:02] gastaldi commented on #92
Done

[2018-01-26 21:02] #92 closed

[2018-01-26 21:16] gastaldi opened #98 "Enable pull-request builds and execution of integration tests in CI server"
We need our CI server to build pull-requests and run the integration tests for our launcher-backend repository

[2018-01-26 21:18] gastaldi commented on #86
DNS registered: launcher.fabric8.io

The SD team is now after the fabric8.io TLS certificates to add the appropriate route

[2018-01-29 03:38] ALRubinger opened #99 "Transient Error: Cannot configure Git triggers"
![screenshot4](https://user-images.githubusercontent.com/199891/35492608-eabef402-047b-11e8-8b6d-832a39db25af.png)

Check the logs on `developers.redhat.com/launch` for `NoSuchElementException` to get full trace.

[2018-01-29 03:45] ALRubinger opened #100 "Get OSO Pro Access for Developers"
The employee cluster offered by employee.openshift.com is Yet Another Cluster

[2018-01-29 03:46] ALRubinger opened #101 "Address Slow Router on OSO with OSO team"
Application is deployed and ready, but router reports application unavailable for minutes afterwards.  Last observed on us-west-2, but likely needs to be raised with the team and monitored for every OSO cluster.

[2018-01-29 04:02] gastaldi commented on #99
This is the stacktrace in the logs:
[code]

Is it always reproducible with your user? Can you give more details on how to reproduce this? I just tried with my user and it works great.

[2018-01-29 04:14] ALRubinger commented on #99
On Sun, Jan 28, 2018 at 11:02 PM, George Gastaldi <notifications@github.com>
wrote:

Nope.  Didn't do anything out of the ordinary to generate this.  Retried
and worked fine.  Transient PITA.  First suspect is timing and asynchrony
in the remote calls.

[2018-01-29 04:22] ALRubinger commented on #98
Assign to @Ladicek ?

[2018-01-29 11:49] gastaldi commented on #98
This is for the launcher-backend repository specifically. @Ladicek I know you're doing it for the Boosters, can we include the launcher-backend too?

[2018-01-29 12:43] Ladicek commented on #98
Should be doable.

[2018-01-29 12:52] Ladicek commented on #98
@gastaldi I need a couple of things here:

1. What is the repository?
2. How to run the tests? (I assume something like `mvn clean verify`?)
3. Give the `rhoar-bot` GitHub account admin permissions to the repo. (Needs write permissions to be able to set commit status for the PRs, and admin is needed to be able to manage webhooks.)

[2018-01-29 13:06] gastaldi commented on #98
1. https://github.com/fabric8-launcher/launcher-backend/
2. `mvn clean integration-test -Pit`. There are instructions on how to set them up here: https://github.com/fabric8-launcher/launcher-backend/#prerequisites-to-run-integration-tests
3. Done: https://github.com/fabric8-launcher/launcher-backend/invitations

[2018-01-29 13:25] gastaldi commented on #99
I improved the error message. Let's see how that works out. Reopen if the problem persists

[2018-01-29 13:25] #99 closed

[2018-01-29 15:22] gastaldi commented on #98
I wish I had. Right now I test using my personal account :)

[2018-01-29 15:23] gastaldi commented on #98
If you look at the run.sh file, you'll see the necessary env vars to run the integration tests

[2018-01-29 15:31] Ladicek commented on #98
OK, thanks.

[2018-01-30 14:33] ALRubinger opened #102 "Publish matrix for Boosters and where each is available"
Based on metadata in the Booster Catalog, automatically publish a matrix showing each Booster and the environments in which they're made available, ie: OSO Starter, OSO Pro, OSIO, Staging, etc.

[2018-01-30 15:29] quintesse commented on #102
Ok, that shouldn't be too hard, except that I don't know where we would publish this to? What do you have in mind @ALRubinger ?

[2018-01-30 15:44] gastaldi commented on #102
In a Wiki page here would be a good choice: https://github.com/fabric8-launcher/launcher-documentation/wiki

[2018-01-30 17:05] ALRubinger commented on #102
Or we could coordinate with @rhoads-zach about how to best surface this on the community site

[2018-01-31 12:25] gastaldi opened #103 "Develop /booster-catalog/missions"
Defined in https://app.swaggerhub.com/apis/fabric8-launcher/backend/2.0.0

[2018-01-31 14:35] krishnapaparaju commented on #102
Adding an architecture diagram would help in understanding each booster...

[2018-01-31 16:57] ALRubinger commented on #102
@krishnapaparaju Please open a separate issue describing what you'd like out of an arch diagram for each  Mission

[2018-01-31 21:27] quintesse commented on #65
Ok, this is done now. All relevant information can be found here:

https://github.com/fabric8-launcher/launcher-booster-catalog/wiki/HOWTO-Create-a-Booster-Catalog-(Generic)
https://github.com/fabric8-launcher/launcher-booster-catalog/wiki/HOWTO-Create-a-Booster-Catalog-(RHOAR)

[2018-01-31 21:27] #65 closed

[2018-01-31 21:28] quintesse commented on #81
Ok, this is done now. All relevant information can be found here:

https://github.com/fabric8-launcher/launcher-booster-catalog/wiki/HOWTO-Create-a-Booster-Catalog-(Generic)
https://github.com/fabric8-launcher/launcher-booster-catalog/wiki/HOWTO-Create-a-Booster-Catalog-(RHOAR)

[2018-01-31 21:28] #81 closed

[2018-01-31 21:37] rhoads-zach commented on #102
What about the concept of a new "Mission Guide"

Outline:
- Intro content
  - explanation of mission approach
  - explanation of runtimes
- booster matrix
- Missions
  - REST
    - overview
    - list of available runtimes
    - possible diagram
  - CRUD
....
- Runtimes
  - WFS
  - VX
....

@ALRubinger @gastaldi @quintesse  thoughts?

[2018-02-01 16:01] ALRubinger opened #104 "Get OSO Access for Shared Testing Account"
Requirements as determined with @Ladicek :

* Account with persistent OSO Starter Access
** Does not expire and require reprovisioning
** May be shared between users
** Is not mutually-exclusive; may have access to us-east-1, us-west-1, etc, concurrently
* Account with persistent OSO Pro Access
** Same requirements as above

[2018-02-01 16:36] gastaldi opened #105 "Webhooks are not being created after launched"
The GitHub webhooks are no longer being created when a booster is launched.

Initially reported by @ia3andy

[2018-02-02 11:21] metacosm opened #106 "Consider switching the order of mission / runtime in catalog"
… so that the folder hierarchy would be runtime / mission / version instead of mission / runtime / version.
It would make things easier for booster maintainers to update the boosters (everything in the same parent folder vs. tracking down changes across folders).

[2018-02-02 11:24] gastaldi commented on #106
I think that makes sense from the booster maintainer PoV (and future contributors too).

/cc @hbraun, @cescoffier, @cmoulliard @lholmquist?

[2018-02-02 11:28] heiko-braun commented on #106
Fine with me either way

[2018-02-02 12:27] metacosm commented on #106
Since missions can also be runtime-specific, it makes more sense to organize things by runtime first then mission. It would also mirror discussed changes in launcher UI. Finally, I think it fits how developer think (at least, how *I* think developers think, I guess I shouldn't generalize): usually, runtime is a given (I know that's I'm using technology X) so that's what I'd like to choose first.

[2018-02-02 15:02] quintesse commented on #106
@metacosm the reasoning behind this is that if you first choose a technology you might be missing out on all kinds of interesting missions that aren't available for your favorite technology but perhaps they use another technology that would still be acceptable to you. So from an exploratory standpoint the current order is much better. Luckily the new UI will make this issue go away and show you al

[2018-02-05 16:08] lholmquist commented on #106
i think i'm good with this change,  i know for node boosters, we might have boosters that other runtimes might not have, so this would work

[2018-02-08 15:03] gastaldi opened #107 "Additional information on /booster-catalog/booster API"
_From @gorkem on February 8, 2018 14:58_

Che requires additional information on a booster in order to generate workspaces. We can use the `/booster-catalog/booster` to retrieve some of this information however we need the information captured on `.openshiftio/application.yml` and [configmap.properties](https://github.com/fabric8-launcher/launcher-documentation/blob/master/docs/topics/readme/cd-co

[2018-02-08 15:03] gastaldi commented on #107
@gorkem can you summarize what you need specifically from these files in this issue? This may probably be a hint for us to improve the boosters' metadata in the booster-catalog

[2018-02-08 15:35] benoitf commented on #107
I would say we are requiring to create a workspace
- projects git URL to clone
- Images to use (with their port exposed (+description of the port)  (provided by application.yml)
- commands to run (provided by properties file)

[2018-02-08 15:46] gastaldi commented on #107
We only have this information when the user creates a quickstart, then Launcher is not used anymore. Can we somehow push this information to your service instead?

[2018-02-08 17:18] ALRubinger opened #108 "Feature: Enhance environment-awareness to account for minimum OpenShift version"
Not all Boosters will be compatible in all target environments.  At the moment we explicitly note which environments are supported by a Booster in terms of starter, OSIO, etc.  But we'll also need to be able to filter by minimum supported OpenShift version.

[2018-02-09 03:23] gastaldi commented on #107
Probably not related, but I see the https://github.com/redhat-developer/rh-che/blob/master/assembly/fabric8-stacks/src/main/resources/stacks.json already has the commands to run, maybe we can reuse them somehow?

Also, we have an issue to [improve our CheStackDetector](https://github.com/fabric8-launcher/launcher-backend/issues/66), but it would be really nice if it were a library we could reuse i

[2018-02-12 08:23] Ladicek commented on #98
I'm sorry, I should have updated you why I didn't get to setting this up like I agreed to do. I thought it would be a simple Jenkins job with a trivial Maven invocation, but the need to manage all the access tokens moved it from "this is a no-brainer, I'll have it done in 5 minutes" to "ahhh, I'll need to think about this more thoroughly, and I don't have the time for that now". Once again, I apol

[2018-02-12 08:27] gastaldi commented on #98
No worries. Now we need to talk to KB to get the access tokens available as jenkins secrets and then merge https://github.com/fabric8-launcher/launcher-backend/pull/75

[2018-02-12 10:05] quintesse commented on #108
This doesn't seem like something that would be too hard, but are there any existing use-cases that we could check this against? Or is this mostly theoretical for now?

[2018-02-13 15:21] quintesse opened #109 "Allow way to match Runtimes to Jenkins pipelines"
Implementation: https://github.com/fabric8-launcher/launcher-backend/issues/79 and https://github.com/fabric8-launcher/launcher-booster-catalog-service/issues/27

Catalog: https://github.com/fabric8-launcher/launcher-booster-catalog/issues/158

[2018-02-14 15:06] gorkem commented on #107
@gastaldi We are trying to avoid the use of `stacks.json` as it is static information that creates a discrepancy between launcher and che workspace. The goal is to use the same images.

What exactly  is the role of `CheStackDetector`?

[2018-02-14 15:38] gastaldi commented on #107
Just had a thought that perhaps we could introduce a webhook mechanism in our launcher that would let che and other services aware when a project is launched. Need to discuss this with the team, but that would allow integration lf external services (like che) easier

[2018-02-14 17:50] quintesse commented on #107
@gorkem

It takes a look at the code in the Booster and decided what `che.fabric8.io` element to add to the OpenShift BuildConfig.

With regards to the information that Che needs I really would like to know how you imagine that information to be passed? @gastaldi is suggesting that after the Booster gets launched into the user's GitHub and on OpenShift we could call a configurable REST API with in

[2018-02-14 19:34] gorkem commented on #107
One of the scenarios that we want to support is adding a badge or button somewhere that would open a Che workspace with a project generated possibly into README generated by launcher. So the metadata is not necessarily passed synchronously to Che.

I think we want to move away from that static data. The goal is to receive the metadata of the booster and generate a workspace that tailors the metada

[2018-02-14 23:32] gastaldi commented on #107
@quintesse what if we add as `metadata` info to the booster catalog and pass them along in this webhook? I don't like the idea of reading files specific to the README generator (as that won't work for boosters that do not have documentation -
 community provided boosters)

[2018-02-14 23:34] gastaldi commented on #107
The booster would have something like:
[code]

[2018-02-14 23:35] quintesse commented on #107
@gastaldi we could, but I like even less that we would have to sync very technical information that could very easily get out of sync with the original source (remember that even the application.yaml gets generated!)

[2018-02-14 23:37] gastaldi commented on #107
But how often will that information change? It is something we could add in common.yamls in the new structure afaik?

[2018-02-14 23:56] quintesse commented on #107
Wdym? Afaik the application.yaml can be different with each booster. I don't think you can depend on that being the same for each booster at all. And that it doesn't change often is not a good reason in this case, because that information would now be in 3(!) different places: the `src/main/fabric8`, the `application.yaml` and now also in the `booster.yaml` that's in a completely different reposit

[2018-02-15 00:03] gastaldi commented on #107
Yeah, the README changes can be implemented in a `ProjectilePreparer`. Maybe that could work for now, but I think we should be prepared for other future integrations, not sure if putting every single specific feature that IMHO belongs to other system (che in this case) in the osio addon is a good idea.

BTW In OSIO we can pass the OSIO token along with the request and the target system can lookup

[2018-02-15 01:18] quintesse commented on #107
No, perhaps not, but Che is a pretty essential part of the OSIO experience. So in this case it's a good match I think.

[2018-02-15 02:35] gorkem commented on #107
Does that mean it would be an OSIO specific solution? That would not be enough, we have a requirement to use launcher and Che that is installed on-prem.

[2018-02-15 12:53] quintesse commented on #107
@gorkem Ah I didn't know that. But no, it certainly wouldn't be OSIO-only. If this can be made part of the Launcher too than I'm sure we'll be happy to include it. Although I'm guessing this would mean implementing something to be able to specify on what kinds of clusters that feature can be enabled? (Guessing here that Che wouldn't ever work on starter clusters for example)

[2018-02-16 09:58] ia3andy commented on #105
It seems the bug is still reproducible on https://developers.redhat.com/launch/
but I can't reproduce it locally with the current "master" code base.
Let's wait to check on the next release to close this issue.

[2018-02-16 13:55] ALRubinger commented on #105
Also worth checking the logs on the launch prod service.

On Feb 16, 2018 9:58 AM, "Andy Damevin" <notifications@github.com> wrote:

It seems the bug is still reproducible on https://developers.redhat.com/
launch/
but I can't reproduce it locally with the current "master" code base.
Let's wait to check on the next release to close this issue.

—
You are receiving this because you are subscribed to

[2018-02-17 18:36] #109 closed

[2018-02-20 11:54] Ladicek opened #110 "as part of the generated .zip/git repo, create a file with relevant metadata"
In a discussion with @cmoulliard, we came up with an idea: the Launcher could generate, in the root directory of the .zip / Git repo, a file called e.g. `.launched-from` (or `.launcher-metadata`, or whatever). This file would contain relevant metadata to how the .zip / Git repo was generated: parameters selected in the wizard, the original booster Git repo and tag, etc. It would be useful when rep

[2018-02-20 12:04] cmoulliard commented on #110
As the S2I Build process relies on a specific version of the openjdk-1.8 docker image [1], then such version info should also be included within that file.

This number should come from one of the following resource
- Openshift Template - within the imageStream

[code]

- Fabric8 Maven Plugin - parameter  (! the booster parent doesn't include it yet [2])

[code]

[1] https://access.redhat.com/cont

[2018-02-20 16:48] ia3andy commented on #97
Maybe I am missing something, but regarding the github association, the solution seems to be more on KC side who should have a better error message and maybe a link to fix the problem. It's nearly impossible to guess how to fix the problem by looking at the current error message:
WE'RE SORRY ...
Federated identity returned by github is already linked to another user.

And on our side we don't real

[2018-02-26 13:17] gastaldi opened #111 "Add description to Runtimes"
According to the new Runtime UI, the Runtime entries require a description. It should be added to the Booster catalog.

Mockup: https://redhat.invisionapp.com/share/VGF1RF15J#/screens/279916120

@quintesse predicted that in https://github.com/fabric8-launcher/launcher-booster-catalog-service/pull/21#issuecomment-358641924

[2018-02-26 19:37] invincibleJai opened #112 "Wrapper for fetching user meta info for git as endpoint /services/git/user"
we can have one more endpoint `/services/git/user` which would return gitUserId , avatar url , other meta info as we have for organisations and repos

[2018-02-26 22:28] ALRubinger opened #113 "Feature: Launcher can ping target cluster to determine if it's Istio-capable"

[2018-02-27 02:03] #112 closed

[2018-02-27 13:07] quintesse commented on #111
Fixed in https://github.com/fabric8-launcher/launcher-booster-catalog-service/issues/28

[2018-02-27 13:07] #111 closed

[2018-02-27 16:44] gastaldi commented on #106
+1 Changing the runtime to be the root folder in booster-catalog, will let us use the Github's CODEOWNERS feature to ask for PR reviews from the codeowners of each runtime before merging

[2018-02-27 23:49] bmicklea opened #114 "Jarring transition between intro screen and "wizard" screen in launcher"
Problem:
The space creation and initial screen for the launcher are both black overlays that cover the OSIO top bar. Having gone through two screens similarly formatted the user believes that they should expect this style of screen as the configuration experience.

However, following the import or new project selection the user is dropped into a vertical "wizard" that is no longer an overlay and s

[2018-02-27 23:50] gastaldi commented on #114
I think this issue belongs to ngx-launcher?

[2018-02-27 23:51] bmicklea opened #115 "OSIO launcher needs different Git treatment"
For OSIO GitHub authorization happens as part of user registration. So in the launcher the Git section doesn't need to do authorization (and shouldn't ask for it). It may be necessary to have some interaction here:
- Choose the organization
- Rename the repo (I think we can safely auto-populate with the project name as default)

It also may be interesting to explain on this page that we'll be crea

[2018-02-27 23:52] bmicklea commented on #114
I'm not sure @ALRubinger asked me to drop it here...

[2018-02-27 23:56] gastaldi commented on #114
They seem to be very specific to the UI.

Feel free to continue adding here, we can always move them to another repository later when triaging

[2018-02-28 00:33] ALRubinger commented on #115
Before we get to coding, let's run this through UXD to get a clear understanding of what the OSIO-specific treatment should be.  Updated screens would be really helpful and we can run 'em by @bmicklea to ensure they address the issue as intended.

[2018-02-28 00:34] ALRubinger commented on #114
Yep, main triage here and we'll put it in the appropriate component repo as necessary.  Sending to Erik to figure who he'd like to have handle it and what to do. :)

[2018-02-28 00:34] bmicklea commented on #114
If it's better to move them that's fine...I don't mind.

[2018-02-28 00:35] bmicklea commented on #115
Great, how quickly can that be done? I don't want to slow you down but feel these are important to close off.

[2018-02-28 00:44] ALRubinger commented on #115
Will leave to @catrobson's team to scope out the work; they've already got some of this addressed. :)

[2018-02-28 02:28] catrobson commented on #115
We have a few use cases for OpenShift.io:

* The user has already been authorized in OpenShift.io.  In that case, we show the account that is authorized, and allow the user to choose the organization and name for a new repo.  Design for this situation: https://redhat.invisionapp.com/share/VGF1RF15J#/275860642_Authorize_Git_Provider_-Full_Width-_-_Connected_-_Visuals
* The user has not already been

[2018-02-28 08:27] edewit commented on #114
This issue was moved to fabric8-launcher/ngx-launcher#89

[2018-02-28 08:27] #114 closed

[2018-02-28 11:47] gastaldi opened #116 "Make sure frontend and backend are integrated with Sentry for tracking errors"
More information: https://gitlab.cee.redhat.com/dtsd/housekeeping/blob/master/docs/errortracking/getting_started.md

[2018-02-28 11:48] gastaldi commented on #116
From @maxandersen:

[2018-02-28 13:29] invincibleJai opened #117 "Authorization token is needed not X-git-token for git related services"
Passing Authorization bearer token here but not X-git-token it gives 401

[code]

if i won't pass Authorization bearer token here but pass X-git-token it works as in

[code]

so looks like X-git-token we need to pass , Authorization bearer has no effect. As per my understanding we just need to pass Authorization Bearer not X-git-token.

[2018-02-28 13:33] invincibleJai opened #118 "Missing/invalid Auth bearer token should respond with status code 401"

[2018-02-28 13:35] gastaldi commented on #118
Duplicate of https://github.com/fabric8-launcher/launcher-backend/issues/122

[2018-02-28 13:35] #118 closed

[2018-02-28 17:59] gastaldi opened #119 "Elaborate a strategy to launch boosters in OSIO"
Right now OSIO supports only the simple boosters. We need to define a strategy on how to make the other boosters to run in OSIO.
The other Boosters require installing services first, so that may need to be something to be added to the final Jenkinsfiles

[2018-02-28 18:05] gastaldi commented on #119
The strategy we came up is to grab the Jenkinsfile that exists in the booster repository, extract the stages we find beween `scm checkout` and `stage ("Deploy")` and insert it in the new Jenkinsfile below the existing `scm checkout` line

[2018-02-28 18:22] edewit commented on #119
A nicer way would be to have a special Jenkinsfile that gets included by the pipeline, but that would require us to change all the boosters and all the pipelines

[2018-03-01 01:08] quintesse commented on #119
between `scm checkout` and `stage ("Build")` actually

[2018-03-01 01:10] gastaldi commented on #119
@tako then this file doesn't apply: https://github.com/snowdrop/spring-boot-configmap-booster/blob/master/Jenkinsfile

[2018-03-01 01:12] gastaldi commented on #119
Probably we'd need to check `Build` first and fallback to `Deploy` as a second option

[2018-03-01 01:17] quintesse commented on #119
Or we need to change them and use the same name everywhere. After all it's only a label so people could have chosen whatever text they liked.

[2018-03-01 01:20] gastaldi commented on #119
Right, or we could just tell them to put a fragment of that file in the `.openshiftio/` folder and make our lives easier :)

[2018-03-01 08:44] edewit commented on #119
So tried it out on prod with the vert.x configmap booster:

Adding the role gave the following error and stopped the build:
[code]
So tried again without adding the role, hoping that it might not be needed got the following:
[code]
So that seemed to work, but it created the configmap in the `edewit-osio-jenkins` project instead of in the `edewit-osio-run` project or `edewit-osio-staging`
We might

[2018-03-01 08:57] Ladicek commented on #119
AFAIK, the `Jenkinsfile` isn't a mandatory part of the booster and e.g. the WildFly Swarm boosters no longer include it.

[2018-03-01 09:19] edewit commented on #119
@Ladicek sure, it's definitely not the greatest solution, but it also doesn't work it started as an idea

[2018-03-01 09:20] Ladicek commented on #119
FWIW, including a snippet of a `Jenkinsfile` (or just a shell script?) in `.openshiftio` sounds like a reasonable idea to me.

[2018-03-01 09:20] edewit commented on #119
Thinking we needed to add something to the specific environment I tried one more time [creating the configmap here](https://github.com/edewit/vertx-configmap-booster/blob/master/Jenkinsfile#L31)

[2018-03-01 09:23] edewit commented on #119
right @Ladicek the problem is only to find a place in the pipeline Jenkinsfile to call this script or add this snippet

[2018-03-01 09:28] Ladicek commented on #119
@edewit this line https://github.com/edewit/vertx-configmap-booster/blob/master/Jenkinsfile#L31 you linked above runs in the `mavenNode`. I'd say you need to inject something like

[code]

right in between `mavenNode` and `if (utils.isCD()){`. The `clientNode` should have `oc` available.

[2018-03-01 11:48] arunkumars08 opened #120 "Changes in the API for Missions screen based on new UX"
As per the new UX (https://redhat.invisionapp.com/share/VGF1RF15J#/screens/279916120) and this related PR (https://github.com/fabric8-launcher/ngx-launcher/pull/90),

Missions require the following extra parameters

prerequisite: string;
suggested: boolean;
description: string;

Also, description field is missing from the existing response as well. That has to be included.

to be passed from API i

[2018-03-01 11:49] arunkumars08 opened #121 "Changes in the API for Runtimes as per new UX"
As per the new UX (https://redhat.invisionapp.com/share/VGF1RF15J#/screens/279916120) and this related PR (https://github.com/fabric8-launcher/ngx-launcher/pull/90),

Runtimes require the following extra parameters

prerequisite: string;
suggested: boolean;
description: string;

Also, description field is missing from the existing response as well. That has to be included.

to be passed from API i

[2018-03-01 11:51] arunkumars08 opened #122 "Changes in Pipelines API as per the new UX"
Based on new UX (https://redhat.invisionapp.com/share/VGF1RF15J#/screens/275860321) and the related PR (https://github.com/fabric8-launcher/ngx-launcher/pull/90), pipeline screen shows description for all the stages

In order to address that, we need changes in the API as well to bring in this as it currently doesn’t bring description for all stages.
https://forge.api.prod-preview.openshift.io/api

[2018-03-01 11:52] jyasveer opened #123 "Progress api is giving me unauthorized"
I am **BLOCKED**

This is the web socket request i am hitting for the status screen (final screen in the launcher flow)
[code]

and this is the response i get here as below
[code]
This is the /osio/launch request call i am hitting prior to this :-
[code]

[2018-03-01 11:58] gastaldi commented on #123
Related to https://github.com/fabric8-launcher/launcher-planning/issues/117

[2018-03-01 11:59] gastaldi commented on #117
@invincibleJai weird, I tried this and it works:
[code]

I used httpie.org

[2018-03-01 12:08] gastaldi commented on #122
The problem is that we extract this information from https://github.com/fabric8io/fabric8-jenkinsfile-library and that doesn't describe the stage individually.

@pradeepto is this something you guys could help?

[2018-03-01 12:34] quintesse commented on #122
Also, could you explain _why_ you'd need a name and a description for each pipeline stage? AFAICT they are literally just a bunch of labels without any strict identifying purpose. Couldn't you for example generate an identifier from the description? (eg. `description.toLowerCase().replace(" ", "_")` or something like that)

[2018-03-01 12:38] quintesse commented on #121
[This change](https://github.com/fabric8-launcher/launcher-booster-catalog-service/issues/30) that was just committed and will be available in the near future will allow you to add whatever attributes you like to a `metadata` section in the Missions, Runtimes and Versions in the Booster Catalog. You can then decide for yourself what properties you'd like to add and how you'd like to display them i

[2018-03-01 12:38] quintesse commented on #120
[This change](https://github.com/fabric8-launcher/launcher-booster-catalog-service/issues/30) that was just committed and will be available in the near future will allow you to add whatever attributes you like to a `metadata` section in the Missions, Runtimes and Versions in the Booster Catalog. You can then decide for yourself what properties you'd like to add and how you'd like to display them i

[2018-03-01 13:22] gastaldi commented on #122
@quintesse afaik that is part of the new UI. @invincibleJai showed me the updated UI was changed to include a description for each stage

[2018-03-01 13:51] invincibleJai commented on #117
there was issue with token , verified works fine.

[2018-03-01 13:51] #117 closed

[2018-03-01 16:54] gastaldi commented on #123
Now you are I **UNBLOCKED** :smile:
You need to use the correct Authorization header when invoking /osio/launch :wink:

[2018-03-01 16:55] quintesse commented on #122
Aha, well in that case somebody should in touch with the maintainers of the jenkinsfile library I guess. Is that pradeepto that you mentioned?

[2018-03-01 16:56] gastaldi commented on #122
Yes, I believe so. He is from the Build team

[2018-03-01 18:23] arunkumars08 commented on #122
@quintesse As @gastaldi mentioned, it is to address the new UX changes which currently takes description for each of the stages.

[2018-03-01 18:24] arunkumars08 commented on #121
@quintesse Thanks for the update 👍 Will follow up once the change is ready.

[2018-03-01 18:24] arunkumars08 commented on #120
@quintesse Thanks for the update 👍 Will follow up once the change is ready.

[2018-03-01 18:33] jyasveer commented on #123
Thanks @gastaldi i can see the results from the progress web socket call now

[2018-03-01 18:33] #123 closed

[2018-03-02 12:26] edewit opened #124 "Return list of dependencies for a booster"
In order for the analytics to perform analytics on the boosters it will need to have a list of the dependencies for the specific booster. Extend the booster catalog endpoint to also include a list of dependencies and the '/launch' endpoint to input extra dependencies that the user selected on the "dependency screen"

[2018-03-02 12:50] jyasveer opened #125 "Show error messages in ngx-launcher"
I had one question here. In the progress screen which is the last screen for getting-started flow, i don't see any placeholders for error messages to show in the html file. We need to show the error messages if we get from the /osio/launch call right ? And these error messages are sent to the UI, through the web socket call.

And this is the progress message page, i am talking about
https://github

[2018-03-02 12:56] quintesse commented on #124
I'd actually suggest a different endpoint perhaps, specifically for obtaining dependencies?

Because obtaining booster info is a relatively "cheap" action, the moment we've read the booster catalog (which is fast) we have all the info about a booster. For the dependency info however we need to have the booster repository itself available (clone it if it isn't yet) and then read and parse the pom f

[2018-03-02 13:00] gastaldi commented on #124
Yes, a separate endpoint is a good idea. /Booster is now used to return metadata information about the booster. Maybe something like `/booster-catalog/booster/dependencies`?

[2018-03-02 13:28] edewit commented on #124
@quintesse the boosters are already cloned on startup right, the analytics can also work on a git repo url so we could also opt for adding the booster repo url to the `/booster-catalog/booster` endpoint

[2018-03-02 13:51] quintesse commented on #124
@edewit they are not actually. It's all done asynchronously these days, The only thing we still do in production is that we start up a second thread that downloads them just so they'll be ready. But that's just an option.

[2018-03-02 13:55] quintesse commented on #124
For example, if at some point we really get a lot of community contributions I think it could become impractical to start downloading them all all of the time. Especially when we don't need them until someone actually gets to the end of the wizard and clicks launch. (Because nowadays all the necessary information is in the catalog, there's nothing of interest anymore in the booster itself UX-wise)

[2018-03-02 16:24] edewit commented on #124
Okay then in that case let's just add the repo url to the result so the analytics can fetch the pom strait out of github.

[2018-03-02 19:08] gastaldi opened #126 "Develop Performance tests"
Create performance tests for our backend services.

Services: https://app.swaggerhub.com/apis/fabric8-launcher/backend/2.0.0

[2018-03-03 02:36] dlabrecq commented on #122
The UXD team performed a couple usability studies with the app-launcher and the old pipeline layout did not test well. For example, the descriptions were difficult to read and each pipeline was only visible if an expandable area was opened. To correct these issues, the pipelines were moved and each stage was given its own description to help with readability.

The new pipelines layout is shown bel

[2018-03-03 02:56] gastaldi commented on #122
@dlabrecq that content is markdown extracted from the README files inside each pipeline in https://github.com/fabric8io/fabric8-jenkinsfile-library. Can this be rendered somehow by the UI? I think it would be a little difficult to get the formatting out of the descriptions and even if we do that, rendering in the UI may not provide the desired output

Example: https://github.com/fabric8io/fabric8-

[2018-03-03 03:12] gastaldi commented on #122
Or we can talk to the Build team who is responsible of maintaining that repository to add the necessary information

[2018-03-03 19:40] gastaldi commented on #113
Where can we find the technical instructions on how to do that?

[2018-03-04 21:38] dlabrecq commented on #122
Thank you for the links. Unfortunately, the content of the ReadMe.md above isn't really what the UI needs to show to the user. That particular markdown describes the ReleaseStageApproveAndPromote pipeline overall; however, usability testing shows that the UI needs to better describing each stage, individually to the user.

Wherever the content comes from, it should also not be provided as markdown

[2018-03-04 22:04] gastaldi commented on #122
@pradeepto ping us in the Fabric8-launcher channel in MM. Let's talk about how we can enhance the repository to include this information

[2018-03-05 09:01] invincibleJai opened #127 "Issue with git Organisation response"
For `/services/git/organizations` i observed different behaviour
 ie

Scenario 1:
for my account https://github.com/invincibleJai there are 3 orgs but in response we get is just one org `[fabric-ui]`

Scenario 2:
for @jyasveer's  account https://github.com/jyasveer there are 2 orgs but in response we get is no orgs `[ ]`

i don't remember authorizing  any org while registering with Openshift.io

A

[2018-03-05 10:12] quintesse commented on #127
@invincibleJai obtaining the list of organizations follows these GitHub API rules: https://developer.github.com/v3/orgs/#list-your-organizations

The important part here is: "This only lists organizations that your authorization allows you to operate on in some way (e.g., you can list teams with read:org scope, you can publicize your organization membership with user scope, etc.). "

So are you su

[2018-03-05 10:33] invincibleJai commented on #127
@quintesse thanks for updating. For Org "fabric-ui", "rhdt-dev" i can see list teams with read:org scope, and have publicized my organization membership as Public. Same shows up here https://api.github.com/users/invinciblejai/orgs
 Similar was case for https://api.github.com/users/jyasveer/orgs , let me know if am missing something here

[2018-03-05 11:43] quintesse commented on #127
@invincibleJai that's not the correct API call, `/users/invinciblejai/orgs` does indeed give you the list of _all_ the organizations you belong to but that will also include the ones that you don't have sufficient permissions for. It's the `/user/orgs` API call that's important.

[2018-03-05 12:04] invincibleJai commented on #127
Ah i tried curl as below

`curl -X GET \
  https://api.github.com/user/orgs \
  -H 'authorization: token git-token' \`

and response is as expected i.e all three orgs as below

`[
    {
        "login": "fabric8-ui",
        "id": 25244298,
        "url": "https://api.github.com/orgs/fabric8-ui",
        "repos_url": "https://api.github.com/orgs/fabric8-ui/repos",
        ...
    },
    {

[2018-03-05 13:11] #124 closed

[2018-03-05 17:38] gastaldi commented on #116
@animuk is this something you could be working on?

[2018-03-06 13:08] GeorgeActon commented on #122
@gastaldi if we cannot get this from the jenkinsfile library, what other alternatives do we have?

[2018-03-06 13:14] gastaldi commented on #122
@GeorgeActon we're talking with the Build team about ownership of that repository. We're still planning on changing the files in that repository.

[2018-03-06 13:26] GeorgeActon commented on #122
@gastaldi Do you have any commit on when this can b done yet?

[2018-03-06 14:09] GeorgeActon commented on #125
@catrobson I think dan was raising this to you for design input. can you comment /give ETA on when this can be addressed.

[2018-03-06 14:21] catrobson commented on #125
@GeorgeActon @jyasveer we actually need some engineering input to update the designs properly to reflect the different type of error messages, we're not sure what gets returned at this point.  @gastaldi was helping on the RHOAR/Launcher mailing list.

@bdellasc is working on this right now, so any input you can provide would help us get the information out faster for designs.

[2018-03-06 14:39] GeorgeActon commented on #125
@catrobson George would be the person who have the knowledge. What mailing list is that? I dont see any comments fromGeorge on this topic on the Google group topic "Setup Progress Screen Scenarios"

[2018-03-06 14:41] gastaldi commented on #125
Am I? This is a UI issue afaik, and I think the UXD team is the best resource for this

[2018-03-06 14:44] GeorgeActon commented on #125
@gastaldi I think the question was what different types of error messages would be returned. Is that correct @catrobson ?

[2018-03-06 14:47] gastaldi commented on #125
@GeorgeActon ah your statement was a bit ambiguous :smiley:

The errors are modeled in https://app.swaggerhub.com/apis/fabric8-launcher/backend/2.0.0 but basically it returns:
- 400 when validation fails
- 401 if authentication/authorization fails
- 500 when an internal error occurs

[2018-03-06 14:49] catrobson commented on #125
Are there errors that can happen for each "step" of the application build-out - sort of like we had before here:  https://redhat.invisionapp.com/share/7SCC7SN5E#/screens/231315304?  Is it these same 3 errors that can be returned overall or for those steps?  (basically how much detail can we give the user about what went wrong and where)

[2018-03-06 14:52] gastaldi commented on #125
@catrobson the backend has some specific endpoints to validate if a Github repository or an Openshift repository exists, so I'd say that besides that, validation in the backend only happens when the Finish button is clicked. In the frontend I think validation should happen locally (like check if a required input was provided, etc)

[2018-03-06 15:00] catrobson commented on #125
@gastaldi I think I asked my question the wrong way.  I'm not asking about validating the input from the Launch Experience.  I'm asking about once we hit the finish button - things start actually happening.

So,
- A the booster gets added into github (in OpenShift, OpenShift.io use cases)
- An OpenShift project gets created
- A pipeline gets added to that project
etc...

If during the process of e

[2018-03-06 15:20] invincibleJai commented on #121
@quintesse i couldn't see changes in prod-preview , is it yet to be moved to stage? have tried here

`curl -X GET "https://forge.api.prod-preview.openshift.io/api/booster-catalog/runtimes" -H "accept: application/json" -H "X-App: osio"`

[2018-03-06 18:08] gastaldi opened #128 "Support pagination of Git repositories in /services/git/repositories"
It would be nice to paginate the existing repositories instead of returning a huge list of repositories which is inefficient and may become a bottleneck in the future

[2018-03-06 18:10] quintesse commented on #127
Not sure this should be closed yet? For dinner train there still seems to be a difference in the expected vs the actual result

[2018-03-06 18:12] gastaldi commented on #127
I thought that was already answered in the

part. Can you confirm @invincibleJai ?

[2018-03-06 18:14] gastaldi commented on #127
I have already taked to @jyasveer that the /services/git/organizations will not return the user name as an organization because that doesn't make sense and should be handled in the UI

[2018-03-06 18:21] bdellasc commented on #125
Based on earlier concepts, I assume we still want to encourage the user to stay on this screen as this entire process runs?

It makes it a lot simpler to design at this point, otherwise we're going to need to address the cases when they have navigated away from this page and there are failures. My plan right now is to keep it simple and **not** give them easy ways to leave the UI until the process

[2018-03-06 18:55] Essjaysee commented on #125
If one of the 5 parts fails, and the user decides to abandon the entire launcher experience, could this leave them with (incomplete) stuff that we've added to their GitHub repository?  Is there anything else we should let them know about to clean up if setup fails and/or they abandon?

[2018-03-06 19:07] gastaldi commented on #125
@Essjaysee yes (to the first question), if the user clicked the `Finish` button before leaving. For 2) I think it could point to documentation on what to do. Optimistically speaking, I believe the rate of failing launches will be minimal though

[2018-03-06 22:56] bdellasc commented on #125
There are a couple of open questions:
from @catrobson:
- "my main question is whether we need a page that shows a more generic “something went wrong, we’re not sure what” message or not."
- "I sort of doubt we always have knowledge of what step caused the issue as I bet things are happening simultaneously.  Not sure if this would have a retry button or not."

Assuming we need specific and generic

[2018-03-06 23:03] #98 closed

[2018-03-06 23:14] gastaldi commented on #128
This issue was moved to fabric8-launcher/launcher-backend#153

[2018-03-06 23:14] #128 closed

[2018-03-06 23:35] quintesse commented on #121
@invincibleJai no, it isn't in staging yet

[2018-03-07 01:06] maxandersen commented on #122
Just make a PR. We’ll get it reviewed and pushed if works :)

[2018-03-07 08:19] edewit commented on #97
In order to fix this I think it's a good idea to run a instance of [fabric8-auth](https://github.com/fabric8-services/fabric8-auth)

[2018-03-07 10:32] invincibleJai commented on #127
while consuming git services directly as below i get as expected

`curl -X GET \
  https://api.github.com/user/orgs \
  -H 'authorization: token git-token' \`

and response is as expected i.e all three orgs as below

`[
    {
        "login": "fabric8-ui",
        "id": 25244298,
        "url": "https://api.github.com/orgs/fabric8-ui",
        "repos_url": "https://api.github.com/orgs/fabric8-ui/r

[2018-03-07 10:35] gastaldi commented on #127
@invincibleJai are you using the same token returned by auth.prod-preview.openshift.io in the test?

[2018-03-07 10:37] invincibleJai commented on #127
yes i can pass to you in DM if it helps?

[2018-03-07 10:40] invincibleJai commented on #127
i even tried with @jyasveer and @arunkumars08 there was diff in response

[2018-03-07 10:56] invincibleJai commented on #127
@gastaldi one more observation if i pass
```X-Git-Provider : GitHub``` as well in header as below
[code]

response is

`internal server error, 500`

and if i don't pass "X-Git-Provider  works" it works i.e 200 but returns empty list [], ideally "X-Git-Provider" is required token as per swagger so it shouldn't work without it.

[2018-03-07 11:06] gastaldi commented on #127
@invincibleJai I see the error in the logs.
[code]
We'll fix that and I'll let you know when it's ready

[2018-03-07 11:10] invincibleJai commented on #127
Thanks @gastaldi :)

[2018-03-07 11:38] gastaldi commented on #127
PR created: https://github.com/fabric8-launcher/launcher-backend/pull/155 will merge once the integration tests pass

[2018-03-07 11:42] arunkumars08 commented on #120
@quintesse I see the PR for the change has been closed, is it available in prod-preview?

[2018-03-07 11:50] invincibleJai commented on #121
@quintesse thanks, so when do we have plan to promote it to prod-preview?? as it's needed there for us to be consumed

[2018-03-07 12:01] gastaldi commented on #127
@invincibleJai PR merged, can you confirm it works for you now?

[2018-03-07 12:11] invincibleJai commented on #127
@gastaldi "X-Git-Provider" in header is working as expected. but response is still empty list for me for orgs

[2018-03-07 12:13] arunkumars08 commented on #127
Yes, @invincibleJai. I have tried with my prod-preview token and it gives me empty array list but the same thing with Github API url with Github token , I am able to see my list of organizations.

[2018-03-07 12:53] GeorgeActon commented on #125
@slemeur please take a look at the envision screens
@bdellasc this looks like it is focussed on the OpenShift use case.
Ay impact on the openshift.io (OSIO) use case?

[2018-03-07 14:14] edewit opened #129 "move asciidoctor service back from nxg-launcher"
asciidoctor is only used in the old launch front-end and it's making running tests on fabric8-ui hard. Let's move it back

[2018-03-07 14:57] bdellasc commented on #125
I should have probably clarified that I was looking for feedback on the general approach to how we're showing the progress through the tasks (the various states of completion), the retry option for the specific and generic errors, layout, etc. The copy still needs some work as well.

My impression was that since the .io case is a subset of these tasks, we'd just show the appropriate tasks for .io,

[2018-03-07 16:52] gastaldi commented on #106
I've been discussing with @quintesse and we think that *runtimes/versions/missions* would be more adequate for runtime owners.

Why
====
- When a new version is introduced, the runtime owner just needs to copy the folder of the current version and perform the required changes in the booster.yaml files

When
====
- @quintesse is working on this and should provide a PR to the booster-catalog along w

[2018-03-07 17:00] Ladicek commented on #106
Makese sense to me.

[2018-03-07 22:04] gastaldi commented on #105
Fixed in production

[2018-03-07 22:04] #105 closed

[2018-03-08 08:55] animuk commented on #127
Hi @invincibleJai : As discussed, because you are trying with the prod-preview osio access token and there you do not have any org access , you are getting empty array. so, Please try to get required org access in the prod-preview and check again. We will get the right set of git organization
Closing this issue after confirming from you.
thanks,

![image](https://user-images.githubusercontent.com/

[2018-03-08 09:08] invincibleJai commented on #127
Thanks @animuk for help 👍

[2018-03-08 09:29] jyasveer commented on #125
I am blocked because of this issue.
Could someone let me know where are we on this ? Because what i see is if we don't decide on the UXD and the UI implementation, I will be blocked on the integration side of tasks for the summary and status screens

[2018-03-08 12:36] edewit commented on #121
what does `prerequisite` mean in this context?

[2018-03-08 14:24] gastaldi commented on #122
@animuk the idea is to change the metadata.yaml files inside https://github.com/fabric8io/fabric8-jenkinsfile-library to contain this new information.

For example, https://github.com/fabric8io/fabric8-jenkinsfile-library/blob/master/maven/ReleaseStageApproveAndPromote/metadata.yml would be like:

[code]

Bear in mind that once this change is pushed to master, it will break [the legacy addon](http

[2018-03-08 18:03] mindreeper2420 commented on #121
Prerequisite is a term UX is using to state that there are pieces the user needs to understand or know about before they should select that give option. In the case of Secured, the user should understand the basic concepts around Red Hat SSO. Think of it as a call out to signal that the user should expand the row to read more.

I believe the information would all have to come from the API as the c

[2018-03-09 10:29] gastaldi commented on #116
Enabled in the backend. Frontend is used in fabric8-ui

[2018-03-09 10:29] #116 closed

[2018-03-09 11:12] edewit commented on #8
In order to install something like a config map into the "stage" namespace we need to update the oc command version otherwise a command like this will ignore the `-n` flag
[code]
current version on prod is 1.4

[2018-03-09 11:37] gastaldi commented on #122
@animuk can we count on you to have this ready by March 16th?

[2018-03-09 12:20] gastaldi commented on #122
@GeorgeActon the API changes are now in staging. @animuk is working now in getting the description values correct, but that shouldn't block any work.

[2018-03-09 12:32] edewit commented on #119
In order to install something like a config map into the "stage" namespace we need to update the oc command version otherwise a command like this will ignore the `-n` flag
[code]
current version on prod is 1.4, with a newer command this works:
[code]

[2018-03-09 12:33] edewit commented on #119
only problem that remains after this is that the app is not authorized to read the configMap

[2018-03-09 14:25] #93 closed

[2018-03-09 14:26] #75 closed

[2018-03-09 16:10] bdellasc commented on #125
I'm also blocked on finalizing the design because I've only had one comment so far on the [InVision mockups](https://redhat.invisionapp.com/share/CZG6Y14WEPQ) since Wednesday. I realize a lot of key people are in many meetings this week, but if I can get more input, I can iterate (if necessary) and then get it nailed down so @jyasveer can run with it. Thanks!

[2018-03-11 20:17] gastaldi commented on #74
The new booster catalog already provides this and so the new UX. Closing now.

[2018-03-11 20:17] #74 closed

[2018-03-11 20:20] gastaldi commented on #63
Each runtime now has their own implementation. The repository is not referenced anymore in the catalog and can be safely removed

[2018-03-11 20:20] #63 closed

[2018-03-11 20:22] gastaldi commented on #62
It is already possible to do https://forge.api.openshift.io/api/launcher/zip?groupId=io.openshift.booster&mission=health-check&runtime=vert.x&runtimeVersion=community&artifactId=app and automatically download the booster code without much fuzz.

[2018-03-11 20:27] gastaldi commented on #49
Now the catalog requires the full Git URL for the booster code, meaning that it could support other Git servers besides GitHub.

The support for cloning internal repositories will depend if the Openshift cluster where the backend runs can connect to the internal repository, but that's basically an infrastructure issue, not something we need to change in the code.

[2018-03-11 20:27] #49 closed

[2018-03-11 20:29] gastaldi commented on #16
Ultrahook is no longer used or mentioned in the docs. Closing now.

[2018-03-11 20:29] #16 closed

[2018-03-11 20:48] quintesse commented on #62
That's of course _not_ the same ;)

Downloading boosters is not a really interesting option IMO (I mean it's almost the same as using the ZIP download function in the Booster repo itself). No I mean that you could go to a URL where you "prefill" the mission, runtime and/or version and the wizard would skip those pages. That way for example the Vert.x team could link to the wizard with Vert.x prefi

[2018-03-12 07:08] arunkumars08 commented on #121
@mindreeper2420 Thanks Adam for the clarification. @edewit This is the screen where you can see the prerequisite UX - https://redhat.invisionapp.com/share/6BEZL73M7#/screens/281657307

This is also as per the new UX tagged earlier in the description of the issue.

The extra fields needed are:

1. prerequisite
2. description
3. suggested

[2018-03-12 07:58] jyasveer opened #130 "/osio/launch authentication issue"
In the `/osio/launch` api, i see the authentication happening for any bearer token passed. For example, the api should throw a `401` error for the below request which it is not.
[code]

[2018-03-12 08:21] jyasveer opened #131 "/osio/launch - gitOrganization parameter issue"
In `/osio/launch` api with this request below
[code]
#### Scenario 1
I pass the `gitOrganization` value as `fabric8-analytics` and i get the error as below :-
[code]
#### Scenario 2
I dont pass the `gitOrganization` value in the request data. And i get this error :-
[code]
#### Scenario 3
I pass `gitOrganization` as `jyasveer` which is my gitHub user space. And yet i am getting a error like below:

[2018-03-12 10:19] jyasveer commented on #131
thats true @invincibleJai

[2018-03-12 11:19] gastaldi commented on #131
@ia3andy can you have a look? I think it may be related with the changes introduced in 7a66d7b709bc68621e572b40c85a6b33b919fa04?

[2018-03-12 11:20] GeorgeActon commented on #125
@catrobson Can we expedite this so we can get the design finalized by Wednesday?

@gastaldi Can you add Stevan Lemeur to this repo so that he can be referrenced and comment directly on these issues?

[2018-03-12 11:27] gastaldi commented on #125
@GeorgeActon I think anyone can comment and be referenced in the issues in Launcher-planning, without the need to be added? @slemeur

[2018-03-12 11:29] Ladicek commented on #119
There's an `oc` command for that as well: `oc policy add-role-to-user view -z default`. It's not needed for WildFly Swarm, fyi.

[2018-03-12 11:36] ia3andy commented on #131
@gastaldi ok ;)

[2018-03-12 11:53] jyasveer commented on #130
@gastaldi can you please look into this ?

[2018-03-12 11:54] gastaldi commented on #130
@jyasveer yes, I 'm on it

[2018-03-12 11:57] jyasveer commented on #130
@gastaldi Thanks

[2018-03-12 12:09] ia3andy commented on #131
I will make a PR so that when GitOrganization is Null or empty, it will use the logged user as owner.

[2018-03-12 14:57] #130 closed

[2018-03-13 09:57] GeorgeActon commented on #125
@gastaldi when I reference @slemeur he does not pop up on the list so my assumption is that he is not being alerted by the reference.

[2018-03-13 15:43] #122 closed

[2018-03-14 05:39] invincibleJai commented on #122
Thanks @gastaldi @animuk

[2018-03-14 12:24] jyasveer opened #132 "GitHub repository create issue in /osio/launch PROD"
Context:-
I am testing the Getting Started flow end to end in the local system sourcing **PROD** environment.

Here is my request for the `/osio/launch` request :-
[code]
And this is the request for the socket call which is below :-
[code]
And this is the response i see in the web socket call :-
[code]
As per my knowledge this is a valid scenario and it should create a git repository in the given

[2018-03-14 12:25] jyasveer commented on #132
@gastaldi @animuk
Can you please check this ?

[2018-03-14 22:57] bdellasc commented on #125
I've posted a new version of the design based on @slemeur 's comments.
[InVision Mockups](https://redhat.invisionapp.com/share/CZG6Y14WEPQ#/285115401_Table_Of_Contents)

 There is still work being done on the text content [here](https://docs.google.com/document/d/1PRKPlg9zOgG9Eu5GZr96GCADPhPnLwZte0jkVx5q3KQ/edit?usp=sharing)

[2018-03-15 12:35] #132 closed

[2018-03-15 13:25] gastaldi commented on #126
It's important to discuss about how these performance tests are going to be written. Some services depend on external services (like the Github) so there isn't much we can do about it. We should focus on writing tests for the services that we control

[2018-03-15 19:39] rdruss opened #133 "name field not used when displaying versions on the Project Info page"
When you look https://github.com/fabric8-launcher/launcher-booster-catalog/blob/v20/metadata.yaml you can see:

![image](https://user-images.githubusercontent.com/367748/37487085-13100de4-2856-11e8-8b1e-5ffb946322df.png)

which implies that for the redhat (directory) version, what should be displayed is "3.4.2.redhat-009 (RHOAR".  What you actually see in the production launch service is:

![image

[2018-03-16 10:51] edewit opened #134 "add code coverage reports to sonar"

[2018-03-16 11:52] #133 closed

[2018-03-16 14:17] bmicklea commented on #115
@catrobson looks good to me.

[2018-03-16 17:21] quintesse commented on #133
The fix has been merged and should be on staging shortly.

[2018-03-19 10:51] ia3andy commented on #131
I found another place where there is an NPE for the gitOrganization.
I am on it and I will only push when the IT will be created to be able to test it:
https://github.com/fabric8-launcher/launcher-backend/issues/186

[2018-03-19 15:09] gastaldi commented on #131
@jyasveer can you check again if the error persists? I've pushed a fix to this issue

[2018-03-20 06:08] miteshvp commented on #119
@edewit @gastaldi - any updates here? Any working PR/Branch that I can tag along?

[2018-03-20 07:12] jyasveer opened #135 "STAGE - /oiso/import - Internal 500 error"
Here is the request below i tried in Postman :-

[code]
I am getting a `Internal Error 500` error response.

[2018-03-20 07:12] jyasveer commented on #135
@animuk @gastaldi can you please take a look ?

[2018-03-20 07:32] edewit commented on #119
I think we're close but since Friday all jenkins builds are stuck on prod
so we have to wait on that being fixed

On Tue, Mar 20, 2018 at 7:08 AM Mitesh Patel <notifications@github.com>
wrote:

[2018-03-20 12:36] gastaldi commented on #135
I'll ask the team to have a look at it. I see the following in the logs:
[code]

[2018-03-20 13:51] gastaldi commented on #135
@jyasveer there is a `projectName` parameter missing in the request. It was missing in the Swagger doc (or somehow lost between edits), but we have added it back. Can you try again with that parameter?

[2018-03-20 14:33] jyasveer commented on #135
@gastaldi @edewit
I updated the payload something like below
[code]

and i get the status code as `204 No Content`

[2018-03-20 14:37] gastaldi commented on #135
RIght, the request should have succeeded now. It returns 204 because the method is `void`. I'll change that to return 200

[2018-03-20 15:17] gastaldi commented on #135
@jyasveer can you try again now?

[2018-03-20 16:02] #8 closed

[2018-03-20 17:28] jyasveer commented on #135
@gastaldi i get 200 now. However if i am not wrong i should get the status uuid as the response, which i am not seeing it right now.

[2018-03-20 17:38] gastaldi commented on #135
@jyasveer we updated the Swagger doc, you shouldn't use the websocket in this call.
I asked @edewit about that and he said:

[2018-03-20 18:38] #135 closed

[2018-03-22 01:02] gastaldi commented on #129
Can this issue be closed?

[2018-03-22 01:03] gastaldi commented on #131
@jyasveer I haven't received any feedback and it passed on my tests, so I'm closing this issue. Feel free to reopen if the problem persists

[2018-03-22 01:03] #131 closed

[2018-03-22 04:16] arunkumars08 commented on #120
@quintesse Any status on this?

[2018-03-22 04:16] arunkumars08 commented on #121
@quintesse Any status on this?

[2018-03-22 04:21] jyasveer commented on #135
@gastaldi i think work is pending here. I should get the `uuid` link from the response of /osio/import call. WDYT ?

[2018-03-22 04:34] gastaldi commented on #135
Yes, as I told you in MM I have already implemented that and it is available in prod-preview

[2018-03-22 06:01] jyasveer commented on #131
This is working now. @gastaldi :-)

[2018-03-22 07:01] jyasveer commented on #135
@gastaldi with this body data
[code]
i get `404 Not Found` as the response. Here i am passing the spaceId in the request body.
Any idea ?

[2018-03-22 12:11] jyasveer commented on #135
Now I get `401` in this end point in **STAGE**
@gastaldi @animuk

[2018-03-22 12:16] gastaldi commented on #135
@jyasveer See if you are passing the right parameters. I did this and it works:
[code]

[2018-03-22 12:24] edewit commented on #129
right it's done

[2018-03-22 12:24] #129 closed

[2018-03-22 13:28] invincibleJai opened #136 "Filter unsupported Runtimes/Missions for OSIO"
- Need to filter out Runtimes, which are not supported for OSIO like Node, Fuse
- Need to filter out Missions, which are not supported for OSIO like secured, crud, circuit-breaker

[2018-03-22 13:28] invincibleJai commented on #136
@gastaldi @animuk FYI

[2018-03-22 13:30] gastaldi commented on #136
@invincibleJai we can introduce a `runsOn` query parameter in the `/api/booster-catalog/missions` and `/api/booster-catalog/runtimes` endpoints, which when queried in OSIO will need to pass `runsOn=osio`.

Will that work for you?

[2018-03-22 13:32] invincibleJai commented on #136
@gastaldi that would but that won't be needed as for these API we already pass header as in `X-App: osio` this should help to identify request is for OSIO right?

[2018-03-22 13:33] gastaldi commented on #136
@invincibleJai I thought about that too, but `X-App` is used in another context. Let me think a bit about this

[2018-03-22 13:34] invincibleJai commented on #136
Sure, let us know whatever works :)

[2018-03-22 14:34] gastaldi commented on #136
@invincibleJai I thought about it and I am prefer to introduce the `runsOn` query parameter. That may be used in other use cases too (even in the standalone launcher)

[2018-03-22 14:35] invincibleJai commented on #136
Sure @gastaldi, Sounds good !!
thanks :)

[2018-03-22 15:30] #136 closed

[2018-03-22 16:38] #120 closed

[2018-03-22 16:40] gastaldi commented on #121
Merged in https://github.com/fabric8-launcher/launcher-backend/commit/5b9b2352c5f8cbbe99a1e7b389ad30386c94873a

[2018-03-22 16:40] #121 closed

[2018-03-22 16:59] invincibleJai opened #137 "Suggested flag shouldn't be there for all pipelines"
In pipelines response https://forge.api.prod-preview.openshift.io/api/services/jenkins/pipelines we get suggested: true for all pipelines. I don't think it'll make sense to show all pipelines as suggested. I believe suggested should be shown based on user-selected Runtime/Mission.That is, considering we're working from a dynamic list of mission & runtime choices.

[2018-03-22 17:01] invincibleJai commented on #137
@animuk @ravasa Pls take a look

[2018-03-22 17:07] gastaldi commented on #137
This issue was moved to fabric8io/fabric8-jenkinsfile-library#29

[2018-03-22 17:07] #137 closed

[2018-03-22 19:55] gastaldi commented on #107
@gorkem here is a sample of our booster-catalog service and endpoints support returning metadata:

[code]

To add more information about it (like che parameters), you just need to add information in the booster-catalog for:
a) a specific booster - change the `metadata` in the booster.yaml
b) a specific runtime - change the `metadata` tag for the specific runtime in `metadata.yaml`
c) a specific mi

[2018-03-23 00:56] bdellasc commented on #125
I consolidated all of the various Launcher-related InVision flows [into one place](https://redhat.invisionapp.com/share/VGF1RF15J) and updated them accordingly.

- There’s a Table of Contents in the InVision as well, to help break it down a bit.
- I’ve updated as much content that is currently finalized through @stacymcauliffe ’s work [here](https://docs.google.com/document/d/1j_178u8LptiGoxGe8xYt

[2018-03-23 07:44] edewit commented on #125
@bdellasc very nice added some comments to the InVision document

[2018-03-23 08:15] jyasveer opened #138 "/osio/import - PROD - Do we need GITHUB_CREATE and GITHUB_PUSHED status in the web socket response"
Below is the request for the osio/import end point in prod
https://gist.github.com/jyasveer/df596df6f75a6825a064537014da3e15#file-osio-import-request

Here is the response
[code]

I see success notifications for all the 5 processes from the web socket response in the /osio/launch api call. But in the above api call i.e. `/osio/import` do we require notifications for `GITHUB_CREATE` and `GITHUB_PUS

[2018-03-23 08:16] jyasveer commented on #138
@gastaldi @animuk can you please look into this ?

[2018-03-23 08:24] jyasveer opened #139 "/osio/import - PROD - Do not see pipelines getting triggered in Pipelines page in OSIO"
Below is the request for the osio/import end point in prod
https://gist.github.com/jyasveer/df596df6f75a6825a064537014da3e15#file-osio-import-request

Here is the response
[code]

FYI :- I am running the setup in my local environment sourcing `PROD` environment

I do not see pipelines getting started in the Create/Pipelines page in OSIO. Below is the screenshot for the issue

<img width="1440" alt

[2018-03-23 08:25] jyasveer commented on #139
@gastaldi @animuk can you please look into this ?

[2018-03-23 08:29] jyasveer opened #140 "/osio/import - PROD - Do not see codebases getting listed in Codebases page in OSIO"
Below is the request for the osio/import end point in prod
https://gist.github.com/jyasveer/df596df6f75a6825a064537014da3e15#file-osio-import-request

Here is the response
[code]

FYI :- I am running the setup in my local environment sourcing `PROD` environment

I do not see codebases getting listed in `Create/Codebases` page in OSIO.
Below is the screenshot for the issue

<img width="1440" alt="s

[2018-03-23 08:29] jyasveer commented on #140
@gastaldi @animuk can you please look into this ?

[2018-03-23 12:40] edewit commented on #140
@jyasveer adding the generated source to the codebases used to be something that the UI did:

https://github.com/fabric8-ui/fabric8-ui/blob/master/src/app/space/forge-wizard/abstract-wizard.component.ts#L79-L87

[2018-03-23 12:43] gastaldi commented on #140
@edewit yes, I moved that code to the backend. See https://github.com/fabric8-launcher/launcher-backend/issues/209

[2018-03-23 12:45] gastaldi commented on #138
Does it work in prod-preview?

[2018-03-23 12:46] gastaldi commented on #138
`GITHUB_CREATE` is never fired in /osio/import

[2018-03-23 12:48] gastaldi commented on #138
We're not updating production until it works in prod-preview

[2018-03-23 12:48] gastaldi commented on #139
Does in work in prod-preview?

[2018-03-23 12:51] gastaldi commented on #140
@jyasveer before update prod, can you confirm it works in prod-preview?

[2018-03-23 13:32] #139 closed

[2018-03-23 13:32] #140 closed

[2018-03-26 04:18] arunkumars08 commented on #121
@gastaldi Could you reopen this as the changes aren't still reflected in prod-preview.

[2018-03-26 04:19] arunkumars08 commented on #120
@gastaldi Could you reopen this as the changes aren't still reflected in prod-preview.

[2018-03-26 12:16] krishnapaparaju commented on #119
@edewit Is this been moved to production ? This is critical fix unblocking couple of boosters to work at OSIO.

[2018-03-26 12:20] gastaldi commented on #119
@krishnapaparaju we haven't fixed this issue yet, we'll close this issue once it is resolved in prod-preview, so stay tuned 😉

[2018-03-26 13:49] gastaldi opened #141 "Include level metadata in Missions"
Include the mission proficiency level metadata in the booster-catalog.

[2018-03-26 13:49] gastaldi commented on #141
Fixed in https://github.com/fabric8-launcher/launcher-booster-catalog/commit/3c34d3f51ff3f3e7cee1af5fb4ee591dbca24bb8 and https://github.com/fabric8-launcher/launcher-backend/commit/b87d52bf55a993561c96367222b8b04602672252

[2018-03-26 13:49] #141 closed

[2018-03-27 02:35] gastaldi opened #142 "Add resource limits for CPU and memory in the openshift templates for the services published in prod-preview and dsaas clusters"
We would like to fix this by enforcing the requirement of defining requests/limits of cpu and memory for **all** the services.

The due date is Wednesday April 4th, after which saasherder will no longer deploy services if they don't have these attributes.

In essence the following needs to be added to every
*dc.spec.template.spec.containers[i]*:

[code]

Documentation about these parameters is her

[2018-03-27 07:21] invincibleJai commented on #139
@edewit similar behaviour is observed for `/osio/launch` for quickstarts flow.

[2018-03-27 07:47] edewit commented on #139
@invincibleJai yes they both use the same method to create the build config #226 fix works for both

[2018-03-27 17:52] gastaldi commented on #142
launcher-documentation issue: https://issues.jboss.org/browse/RHOARDOC-1209

[2018-03-27 18:47] #142 closed

[2018-03-28 09:36] quintesse opened #143 "Enable "live filtering" of missions/runtimes"
It would be very useful to have the ability to pass a parameter to the URL of the wizard that would limit the possible options in the mission and/or runtime lists.

A possible use-case would be for a runtime team, eg "Vert.x", to put a link to the launcher on a webpage of theirs or in their docs or in a quickstart guide. In that case they are only interested in showing _their_ runtime to their use

[2018-03-29 05:54] invincibleJai opened #144 "git credentials are not set in jenkins"
I saw below errors in Jenkins log

<img width="1659" alt="screen shot 2018-03-28 at 11 49 30 am" src="https://user-images.githubusercontent.com/5129024/38072411-bbd6d4ec-3343-11e8-88a4-e63f96379b28.png">

[2018-03-29 08:02] edewit opened #145 "Add the possibility to add labels to created namespaces (project)"
for istio it's needed that projects are created with a specific label. We could perhaps add label meta data in the catalog and set that on the created project

[2018-03-29 12:05] edewit commented on #144
fixed by https://github.com/fabric8-launcher/launcher-backend/pull/234

[2018-03-29 12:05] #144 closed

[2018-04-02 05:52] invincibleJai opened #146 "Seeing ERR_CERT_COMMON_NAME_INVALID for /runtimes intermittently"
Seeing ERR_CERT_COMMON_NAME_INVALID for /runtimes intermittently. It's not frequent but I observed it.

<img width="1679" alt="screen shot 2018-04-02 at 11 20 07 am" src="https://user-images.githubusercontent.com/5129024/38184850-27d1dddc-3668-11e8-96f5-8fabc85b9d1a.png">

[2018-04-02 05:53] invincibleJai commented on #146
@animuk @gastaldi ^^

[2018-04-02 11:39] gastaldi commented on #146
It looks like an infrastructure issue? @kbsingh any idea?

[2018-04-02 14:55] jyasveer opened #147 "Update the description for Runtimes"
Currently we get some description for runtimes which is too long. As per discussion with @mindreeper2420 and @bdellasc in this issue https://github.com/fabric8-launcher/ngx-launcher/issues/118, description for runtimes has to be updated in the backend.

@animuk @gastaldi

[2018-04-02 14:57] gastaldi commented on #147
@rhoads-zach can you have a look at this? Thank you!

[2018-04-02 15:09] quintesse commented on #145
What kind of labels would we need here?

Are they fixed-value labels? Or do they need dynamic values?

Would it be okay to set those labels on all/some top-level/important objects we create (DeploymentConfig, Service, Route etc) or would we need some kind of system to specifically specify _where_ we want to put those labels?

[2018-04-02 15:21] quintesse commented on #106
This was done a while ago already. Closing.

[2018-04-02 15:21] #106 closed

[2018-04-02 15:38] miteshvp commented on #119
@gastaldi @edewit - I see PRs for wfswarm and springboot has been merged. Can it be tested on prod?

[2018-04-02 15:42] gastaldi commented on #119
No, because the required PR inhttps://github.com/fabric8io/fabric8-jenkinsfile-library/pull/31 wasn't merged yet

[2018-04-02 18:18] gastaldi opened #148 "Opening a websocket to query the launch status may use a different replica instead"
It has been observed in production that when more than 1 replica exists for the backend, it may occur that the new websocket connection is bound to the replica that doesn't have the state that triggered the launch, therefore returning no data to the requester.

It would be nicer to have SSE instead and perform the server updates in a single request, without requiring the requester to open a new We

[2018-04-03 13:57] gastaldi commented on #147
Fixed in https://github.com/fabric8-launcher/launcher-booster-catalog/commit/48adb3225c4babea341ca5391c8854a56ab1c559

[2018-04-03 13:57] #147 closed

[2018-04-03 15:50] gastaldi opened #149 "Support aborting a launch"
It should be possible to abort a launch after the Launch button is pressed (in the status screen) and before the flow ends

<img width="1440" alt="screen shot 2018-04-03 at 11 02 14 pm" src="https://user-images.githubusercontent.com/5430080/38265368-4b6eb162-3793-11e8-9249-21b8359cf621.png">

[2018-04-03 16:20] quintesse commented on #149
And what would it do? Just stop or roll back?

[2018-04-03 17:34] jyasveer opened #150 "Get `View Missions Documentation` link in the web socket response to show in the progress screen"
Please find below the screenshot where i need to shoe the `View Missions Documentation` link in the progress screen.
<img width="1440" alt="screen shot 2018-04-03 at 11 02 14 pm" src="https://user-images.githubusercontent.com/5430080/38265368-4b6eb162-3793-11e8-9249-21b8359cf621.png">

[2018-04-04 11:48] edewit opened #151 "change permissions of github app"
We now ask full access of a users github repository including: "Full control of private repositories" we don't need delete rights and don't need access to private repos. It might scare people how much rights we want, we should limit it to what we need

[2018-04-05 04:37] ravsa commented on #144
I have just encountered this issue again
logs:
[code]

[2018-04-05 04:42] gastaldi commented on #144
https://api.github.com/users/loop-org? Is that a valid user ID?

[2018-04-05 04:43] gastaldi commented on #144
Hm apparently it is, weird

[2018-04-05 04:53] gastaldi commented on #144
@ravsa Can you debug locally this line and confirm that it has the correct information: https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/client/impl/OsioJenkinsClientImpl.java#L56?

[2018-04-05 04:55] gastaldi commented on #144
I have a feeling that https://github.com/fabric8-launcher/launcher-backend/blob/master/addons/osio-addon/src/main/java/io/fabric8/launcher/osio/client/impl/OsioJenkinsClientImpl.java#L37 may be injecting the wrong `IdentityProvider`.

In this case, the fix is simple (just adding an `@Application(OSIO)` qualifier to that method parameter). Can you test that?

[2018-04-05 07:42] edewit commented on #144
can you try and remove the `cd-github` so that it gets recreated? Maybe it got out of sync somehow?

[2018-04-05 11:53] jyasveer commented on #147
@gastaldi @animuk
As per the document [https://docs.google.com/document/d/1PRKPlg9zOgG9Eu5GZr96GCADPhPnLwZte0jkVx5q3KQ/edit#](https://docs.google.com/document/d/1PRKPlg9zOgG9Eu5GZr96GCADPhPnLwZte0jkVx5q3KQ/edit#) in page **5** and **6** the descriptions are mentioned.
And i don't see these descriptions in prod-preview and prod.
Can you please verify this ?

[2018-04-05 12:52] gastaldi commented on #147
@jyasveer the description contents in the booster catalog are the same as used in the documentation, what is wrong with the current descriptions?

[2018-04-05 16:33] animuk commented on #147
@gastaldi  the descriptions for the runtimes and missions in the document are shorter compared to the description shown in the UI.

[2018-04-05 16:48] gastaldi commented on #147
@rhoads-zach do you agree with the descriptions in the document? I'm fine if @rhoads-zach agrees

[2018-04-05 16:54] rhoads-zach commented on #147
@gastaldi @animuk do you just want me to replicate the content from the linked doc? or do you want me to leave the content from my PR?

[2018-04-05 16:56] gastaldi commented on #147
@rhoads-zach I think the idea is to use the content from the linked doc instead

[2018-04-05 17:08] rhoads-zach commented on #147
@gastaldi no problem, i'll file a follow up PR.

[2018-04-05 17:27] rhoads-zach commented on #147
@gastaldi @jyasveer @animuk see linked PR.

[2018-04-05 20:11] jyasveer commented on #147
Thanks @rhoads-zach

[2018-04-06 09:49] quintesse opened #152 "[RFD] Move Booster READMEs to the catalog"
Right now the READMEs that get added to a launched Booster comes from https://github.com/fabric8-launcher/launcher-documentation. To be able to add them to a Booster the Launcher needs to clone that repository and pick out the correct README.

There are several issues I see with this approach:

 - *Size*: The Launcher needs to clone either (a) clone the entire repository or (b) use a sparse checko

[2018-04-06 09:50] quintesse commented on #152
Mentioning @rhoads-zach here because we talked about this issue. There's no rush, we decided leaving this alone until after Summit (2018).

[2018-04-06 11:04] Ladicek commented on #152
I personally think that READMEs should be in the boosters repositories themselves. If anything, Launcher should just post-process them.

[2018-04-06 13:49] quintesse commented on #152
@Ladicek that's indeed another option. But that _would_ be more work for the docs team. They'd need to make changes to each of the (many) booster repos and possibly open a dozen PRs. But I do agree is that it seems the most logical place for READMEs.

[2018-04-06 13:50] quintesse commented on #152
@gastaldi indeed, that was actually my idea too, to put those properties inside the booster yaml files themselves :)

[2018-04-09 16:33] ALRubinger opened #153 "Feature: Only show boosters that support a tag"
Use case: only show Istio Boosters in the Istio version of the launcher

[2018-04-09 17:09] gastaldi commented on #153
#143 is related to this issue

[2018-04-09 17:12] gastaldi commented on #143
It would even use a _JSON path format_-like when declaring the flexible form of filtering:
eg `?metadata.suggested=true`, `?metadata.istio`, and so on

[2018-04-10 08:06] cmoulliard commented on #145
Label added to the project/namespace -> `oc label namespace default istio-injection=enabled`

[2018-04-10 08:11] cmoulliard commented on #145
We don't need dynamic values for the moment but fixed-values. Due to the time constraint to have such feature available asap, I would propose that when the istio namespace/project is created for the `git flow` then the label `istio-injection=enabled` is then added.

[2018-04-10 08:11] cmoulliard commented on #145
For the future, it could be interesting that we propose a screen where user could see the by default labels, part of the Openshift template and  where he/she could add new labels using a pop-up list to specify to which resource the label should be then added @quintesse

[2018-04-10 09:18] quintesse commented on #145
Is that something we can expect the user to understand what it does / how to use @cmoulliard ?

[2018-04-10 09:43] cmoulliard commented on #145
As the `launcher` tool is part of our strategy to help developers to develop their `cloud native applications`, a certain level of knowledge about `kubernetes` concepts are required and `label` or `annotations` are part of that

[2018-04-10 11:27] Ladicek commented on #145
Looking at current Launcher, setting labels would certainly be an advanced option. (And rightfully so. A lot of Kubernetes is intentionally designed in a way that the application doesn't need to know it's running inside Kubernetes. Plus Launcher also serves OSIO, which is even more removed from Kubernetes.)

[2018-04-10 12:56] quintesse commented on #145
Indeed, if OSIO for example removed "community" boosters and left only the "redhat" ones because the choice could confuse users then I think labels/annotations are a very advanced option. Not saying we shouldn't add it, but I wonder how many people would know how to use it. (I don't for example ;) )

[2018-04-10 13:31] knrc commented on #145
@cmoulliard That's your choice, I'm just letting you know the requirement will disappear soon.  Let me know if you want us to raise the priority on the work.

[2018-04-10 14:52] edewit opened #154 "repository endpoint only returns non forks"
The repository endpoint should also include forks
    org.kohsuke.github.GHRepositorySearchBuilder#forks

[2018-04-10 14:59] gastaldi commented on #154
This issue was moved to fabric8-launcher/launcher-backend#285

[2018-04-10 14:59] #154 closed

[2018-04-10 18:32] cmoulliard opened #155 "Rename OpenShift Online to OpenShift cluster or simply Openshift"
When the `launcher` is running within `minishift` or `oc cluster up` that should be great to show `OpenShift cluster` or simply `Openshift` name instead of of `OpenShift online`

![screenshot 2018-04-10 20 30 21](https://user-images.githubusercontent.com/463790/38576403-4e8b3f9e-3cfe-11e8-81ef-297c9093d050.png)

[2018-04-10 18:35] gastaldi commented on #155
@cmoulliard this UI is deprecated and replaced with https://launch.prod-preview.openshift.io/launch/new-wizard.

Unless this is required for Summit, we're not making any changes in it.

[2018-04-11 16:46] gastaldi commented on #148
OpenShift supports sticky sessions, by adding the `haproxy.router.openshift.io/balance=source` annotation to the route.

Documentation: https://docs.openshift.com/container-platform/3.7/architecture/networking/routes.html#routes-sticky-sessions

[2018-04-11 17:12] quintesse commented on #148
It does seem to suggest though that it can't be 100% guaranteed.

[2018-04-11 20:01] quintesse commented on #148
I'd just keep it as simple as possible. KISS. Using sticky sessions, with SSEs if we like, will probably be enough in 99% of the cases. I'd just create a nice fallback in the frontend in case it can't (re)connect to get progress.

We could either simply assume everything has completed correctly, or do a simple in-page check for the projects in GitHub and OpenShift. If they exist things probably wo

[2018-04-11 20:07] gastaldi commented on #148
I think we could keep the websocket approach, since SSE doesn't run on POST request

[2018-04-13 09:45] quintesse commented on #145
Ok, after way to much time spent debugging to figure out why labels were not being created I today encounter this issue: https://github.com/openshift/origin/issues/3819

Seems setting labels on projects/namespaces is not supported and will most likely never be supported by openshift.

@cmoulliard I suggest that you up the priority on @knrc 's work, it seems the best way to go forward.

[2018-04-13 13:05] quintesse commented on #145
I'm testing an alternative way to set the labels. (Just in case the the other works takes longer than expected). Will let you know how it goes.

[2018-04-13 14:17] quintesse commented on #145
Nope, sorry, I don't know why/how it's possible to do so using the `oc` CLI command, but using `fabric8:kubernetes-client` I get:

[code]

[2018-04-18 09:10] ia3andy opened #156 "Add minishift provider to KC"
### Checklist

- [ ] make it work with minishift
- [ ] update @quintesse image
- [ ] update doc https://docs.google.com/document/d/1ajbaW1hTxq_cbx1PRuROA3InRI_6dJS97u5HRksMUSQ/edit?ts=58c121fd#heading=h.f4cbk4gi1ry9

[2018-04-18 14:45] gastaldi commented on #151
I'll update the scopes in the rh-developers-launch realm from `repo,admin:repo_hook` to `admin:repo_hook,read:org,public_repo`

[2018-04-18 14:49] gastaldi commented on #151
Changed scopes in the `rh-developers-launch`. Closing now.

[2018-04-18 14:49] #151 closed

[2018-04-18 14:56] Ladicek commented on #151
I think we document the set of permissions Launcher needs from GitHub for the purpose of installing Launcher locally: https://appdev.openshift.io/docs/minishift-installation.html#creating-a-github-personal-access-token I guess this documentation should also be changed? CC @rhoads-zach

[2018-04-18 14:58] gastaldi commented on #151
@Ladicek good call, I completely forgot that. The documentation needs to be updated, yes

[2018-04-18 15:01] Ladicek commented on #151
Gonna file a RHOARDOC, thanks.

[2018-04-18 15:13] gastaldi commented on #146
Seems to be being tracked in https://github.com/openshiftio/openshift.io/issues/2755 already. Closing

[2018-04-18 15:13] #146 closed

[2018-04-18 15:16] rhoads-zach commented on #151
thank you @Ladicek i'll take a look

[2018-04-19 08:06] cmoulliard commented on #155
For local deployment of the launcher, this is not logic to use as display name `openshift online`. That will confuse the end users in this case.

@gastaldi @ALRubinger Can you have a look on that as istio + launcher demos will then show the following screen ...

![screenshot 2018-04-19 10 04 47](https://user-images.githubusercontent.com/463790/38978955-2fac5484-43b9-11e8-925d-09c3b9958ba0.png)

[2018-04-19 08:09] ia3andy commented on #156
I didn't manage to make it work. I followed the instruction of this repository:
https://github.com/bartoszmajsak/keycloak-openshift-auth-example

The problem is that minishift is using a self signed certificate that KC does not accept (you can find the log at the end of this comment). I didn't manage to provide a keystore to KC like suggested in this issue https://issues.jboss.org/browse/KEYCLOAK-

[2018-04-19 08:09] ia3andy commented on #156
Maybe this could be a solution when done:
https://github.com/minishift/minishift/issues/1031

[2018-04-21 13:55] #153 closed

[2018-04-23 21:33] quintesse opened #157 "RFC: Should Versions be the 3rd level of the booster catalog again?"
So not so long ago we changed the booster catalog format from "Missions - Runtimes - Versions" to "Runtimes - Versions - Missions".

The idea to have "Runtimes" as the first level was a good one. Each runtime team can now manager their own "back yard" and add new "Missions" if and when they want.

But the decision to put "Versions" second might not have been so fortuitous. The reasoning was that:

[2018-04-24 19:04] gastaldi commented on #155
@cescoffier mentioned

@edewit I believe he is referring to the screenshot that @cmoulliard posted in the first comment, how do we fix that?

[2018-04-27 07:52] edewit commented on #155
@gastaldi this comes from the backend created https://github.com/fabric8-launcher/launcher-backend/pull/369 to remove it

[2018-04-27 07:52] #155 closed

[2018-04-27 15:52] gastaldi commented on #148
The annotation was applied in production, closing this for now.

[2018-04-30 13:40] gastaldi opened #158 "Standalone launcher may not scale because of GitHub's abuse rate limit"
The backend offers `/services/git/organizations`, `/services/git/repositories` and `/services/git/user` to query Github in the UI.

It has been observed that the continuous invocation of these services may lead to instability issues due to Gateway timeouts - caused by Abuse rate limit. This may have been partially resolved with https://github.com/fabric8-launcher/launcher-backend/commit/84039e280d

[2018-04-30 15:13] ALRubinger commented on #158
I think the requests are bound to the user token, not to our service.  So each user gets their own quota.

[2018-05-02 14:39] kenfinnigan opened #159 ""Next Steps" for a Booster in Launcher UI"
For situations where the user needs to perform some actions before being able to access the Booster webpage, it would be nice if a Booster could define some "Next Steps" that can be loaded into the Launcher UI for display to the user.

Would need to be done in a way that they don't just ignore the steps

[2018-05-02 15:45] metacosm commented on #159
Nice idea!

[2018-05-02 16:05] gastaldi commented on #148
Route annotation didn't work as expected. Reopening issue

[2018-05-02 20:06] gastaldi commented on #159
Quoting @kenfinnigan's email that originated this issue (for context)

[2018-05-02 22:49] gastaldi commented on #159
One idea is to put this information inside the booster's `metadata:` tag. This would make it a centralized place that the UI (and others) can also read from.

[2018-05-03 19:02] VeerMuchandi opened #160 "Hardcoded application names in the boosters"
All openshift objects (application name, service, etc) are all hardcoded in the templates. See this one https://github.com/wildfly-swarm-openshiftio-boosters/wfswarm-rest-http/blob/master/.openshiftio/application.yaml. When you use this booster it always creates the application with the name "wfswarm-rest-http". If you want to deploy multiple microservices they all get the same conflicting names o

[2018-05-03 19:08] gastaldi commented on #160
Add a parameter named `PROJECT` to the template and Launcher will set that for you

[2018-05-03 21:17] VeerMuchandi commented on #160
How is that going to help? I want to set "ApplicationName" not "ProjectName".  Launcher is not even asking for application name. Is there a way to set ARTIFACT_ID that the launcher is capturing? I can use that as the application name instead.

[2018-05-04 00:04] gastaldi commented on #160
PROJECT contains the Openshift project name that Launcher creates when you
specify it in the Project Info step.

I'll have a look if we can add more variables. Btw here is the part where
the template variables are applied:

https://github.com/fabric8-launcher/launcher-backend/blob/master/services/openshift-service-impl/src/main/java/io/fabric8/launcher/service/openshift/impl/Fabric8OpenShiftServic

[2018-05-04 00:13] gastaldi commented on #160
One solution would be to have a ProjectilePreparer implementation (like in  https://github.com/fabric8-launcher/launcher-backend/blob/master/core/core-impl/src/main/java/io/fabric8/launcher/core/impl/preparers/ChangeMavenMetadataPreparer.java) to replace the hardcoded name in the application with the Projectile artifactId.

You would end up with a hardcoded name in the booster OS template anyway,

[2018-05-04 02:45] gastaldi commented on #160
Just to be clear we are talking about the same thing, what is "ApplicationName" in your context? I assume it is the project name when you type here or is it another thing that I am missing?

![screenshot from 2018-05-03 23-40-26](https://user-images.githubusercontent.com/54133/39611139-b0b6bd6c-4f2b-11e8-8f25-fd798ee35d32.png)

[2018-05-04 02:49] gastaldi commented on #160
Also, if you deploy a REST HTTP booster  a Health Check booster in the same OpenShift project you would not get any name conflict afaik

[2018-05-04 03:03] gastaldi commented on #160
Ah I think I understand now, maybe a solution in this case would be to replace the hardcoded `wfswarm-rest-http` with the Github repository name used to launch the Booster.

[2018-05-04 11:37] ia3andy opened #161 "avoid building inside the docker image"
We building docker images in frontend and backend we do something like:
[code]
We should build locally then just copy dist/war files in the docker image.
For now it seems the docker image endup way bigger, because you have twice the dependencies
once in node_modules/.mvn and then packed in the target js file/war.

[2018-05-04 11:38] VeerMuchandi commented on #160
if you are building multiple microservices that stay together in a project and more than one of them are using the same template, there is an issue.

IMO, it is not a future consideration but an immediate need. When I create a microservice I want to name it what I want, not a name forced by the template. Without that launcher deploying to openshift directly is useless.

In the interim GitHub Repos

[2018-05-04 11:47] ia3andy commented on #161
My mistake I misunderstood the build image system... closing.

[2018-05-04 11:47] #161 closed

[2018-05-04 15:27] gastaldi commented on #160
@VeerMuchandi I can change in the launcher-backend, but the boosters will have to be forked and changed to support the newly-created `SOURCE_REPOSITORY_NAME` parameter in https://github.com/fabric8-launcher/launcher-backend/issues/385.

Given the time constraint, you'll need to fork those boosters and the booster-catalog repository and point your launcher installation to your forked booster-catalo

[2018-05-04 16:58] gastaldi commented on #160
@VeerMuchandi I merged https://github.com/fabric8-launcher/launcher-backend/issues/385, can you give it a try by using it in a forked version of the `wf-swarm-rest-http` booster for example?

I can give you further instructions to change your forked booster-catalog if you need.

[2018-05-04 18:25] gastaldi commented on #160
@VeerMuchandi yes, as long as you keep the `fabric8/launcher-backend:latest` image tag in the template

[2018-05-04 19:34] VeerMuchandi commented on #160
@gastaldi, I will test it.  A question though. What will be the value of SOURCE_REPOSITORY_NAME?  Is that set based on ArtifactId?
Current it is being set as wfswarm-rest-http-redhat.

[2018-05-04 20:15] gastaldi commented on #160
That is the GitHub repository name taken from the SOURCE_REPOSITORY_URL
used (the repository URL where the deployed booster lives)

Em Sex, 4 de mai de 2018 16:34, VeerMuchandi <notifications@github.com>
escreveu:

[2018-05-04 20:49] VeerMuchandi commented on #160
Should it not use the GitHub Repository Name? If it uses a URL for the
application name will it not fail?

On Fri, May 4, 2018 at 4:15 PM, George Gastaldi <notifications@github.com>
wrote:

[2018-05-09 07:31] ia3andy opened #162 "Clean frontend/ngx-launcher urls management"
Since the frontend has changed a lot, url management became a bit messy.
- It takes a `http` url to make `ws` url then use it again to make it `http`
- It takes old `launchpad` url to build the new api `url`

It requires a cleaning pass.

[2018-05-09 07:32] ia3andy commented on #162
This will be easier to accomplish when we get rid of the old wizard.

[2018-05-14 11:46] valdar opened #163 "Possible regression on launcher-backend"
testing a recent master it seems that the functionality provided by this PR: https://github.com/fabric8-launcher/launcher-backend/pull/15/ is no longer there/working ?

[2018-05-14 13:46] valdar commented on #163
you can try with Circuit Breaker, Fuse, Build and Run Locally .

[2018-05-14 17:18] #163 closed

[2018-05-14 19:12] VeerMuchandi commented on #160
@gastaldi: Should we rename this parameter SOURCE_REPOSITORY_NAME to APPLICATION_NAME instead? It can still be populated by the SOURCE_REPOSITORY_URL for now. The templates can expect a parameter with the name APPLICATION_NAME instead of SOURCE_REPOSITORY_NAME. This way when we change the launcher to take application name as the parameter, we don't have to come back and change all the templates.

[2018-05-14 21:03] quintesse commented on #158
Pretty sure @ALRubinger is right here.  I'm also pretty sure that the rate limiting observed in openshiftio/openshift.io#3367 is due to the fact that they obviously don't use 500 different GH users.

[2018-05-14 21:07] gastaldi commented on #158
We can close this issue, as connections are no longer held if the abuse limit is reached: https://github.com/fabric8-launcher/launcher-backend/commit/84039e280d059c83c6b65d0731d96abe64241c86

[2018-05-14 21:07] #158 closed

[2018-05-18 09:41] ia3andy opened #164 "Give the possibility to "retry from" after an error"
Example:

you forgot to delete the openshift app before (on a free cluster)
you start the launch process and it will fail after creating the github repository
[New possibility] From there, you have the possibility to delete the app yourself, then go back to the wizard and click on "retry"
You just saved yourself the deletion of the git repository and a new wizard process.